body { background: #FFFFFF url('../../style/images/blue-grid.png'); }

#carousel-wrapper {
	background: url('../../style/images/carousel-bg-blue.png') no-repeat top center;
}

.thumb {
	background: url('../../style/images/carousel-nav-bluegrid.gif') no-repeat;
}

a.thumb {
	background: url('../../style/images/carousel-nav-bluegrid.gif') no-repeat;
}

#intouch {
	background: url('../../style/images/intouch-bg-blue.png') bottom right no-repeat;
}

#entry-top .post-meta p a {
	color: #5c5c5c;
}

#entry-top .post-meta p a:hover {
	color: #000000;
}

#footer h3 {
	border-bottom: 1px solid #618fb5;
}

#footer .footer-widget ul li a {
	color: #5c5c5c;
	border-bottom: 1px solid #618fb5;
}


#footer .footer-widget ul li a:hover {
	color: #000000;
	background: #618fb5;
}
