body { background: #FFFFFF url('../../style/images/green-grid.png'); }

#carousel-wrapper {
	background: url('../../style/images/carousel-bg-greengrid.png') no-repeat top center;
}

.thumb {
	background: url('../../style/images/carousel-nav-green.png') no-repeat;
}

a.thumb {
	background: url('../../style/images/carousel-nav-green.png') no-repeat;
}

#intouch {
	background: url('../../style/images/intouch-bg-green.png') bottom right no-repeat;
}

#entry-top .post-meta p a {
	color: #FFFFFF;
}

#entry-top .post-meta p a:hover {
	color: #000000;
}

#footer h3 {
	border-bottom: 1px solid #89b850;
}

#footer .footer-widget ul li a {
	color: #FFFFFF;
	border-bottom: 1px solid #89b850;
}


#footer .footer-widget ul li a:hover {
	color: #000000;
	background: #a0d362;
}