
/* IE (6) */
/*Fixed some alignment issues and the rollover buttons. that is all for now. May add more IE6 fixes if requested. */
/* ----------------------------------------- */

#intouch {
	background: none;
}

.intouch-button {
	background: url('../../../style/images/intouch-button.png') top left no-repeat;
	display: block;
	height: 72px;
}

.intouch-button span.buttonhover {
	display: none !important;
}

#blog-news .home-post {
	padding-bottom: 50px;
}

.more-link {
	margin-top: 10px;
	background: none;
	background-position: 0 0;
	display: block;
	text-indent:0px;
	height: 16px;
	width: 150px;
	float: left;
}

.more-link  span.buttonhover {
	display: none !important;
}

.post {
	margin-right: 20px;
}

#footer .footer-widgets {
	margin-right: 0px;
}
