body { background: #CCCC99 url('../../style/images/modern-taupe.jpg') top center no-repeat; }

#headerwrap {
	background: url('../../style/images/menu-bg-modern.png') top left repeat-x;
}

#carousel-wrapper {
	background: url('../../style/images/carousel-bg-taupe.png') no-repeat top center;
}

.hp-menu li {
	background:	none;
}

.sf-sub-indicator {
	background:		url('../../style/images/arrows-taupe.png') no-repeat -10px -100px;
}

.thumb {
	background: url('../../style/images/carousel-nav-taupe.png') no-repeat;
}

a.thumb {
	background: url('../../style/images/carousel-nav-taupe.png') no-repeat;
}

#intouch {
	background: url('../../style/images/intouch-bg-taupe.png') bottom right no-repeat;
}

#footer-wrap {
	background: url('../../style/images/modern-taupe.jpg') top center no-repeat;
}

#footer h3 {
	border-bottom: 1px solid #a7a77a;
}

#footer .footer-widget ul li a {
	border-bottom: 1px solid #a7a77a;
}


#footer .footer-widget ul li a:hover {
	background: #a7a77a;
}