@charset "utf-8";
/* CSS Document */

body { background: #8fcc54 url('../../style/images/modern-green.png') top center no-repeat; }

#headerwrap {
	background:	transparent url('../../style/images/menu-bg-modern.png') top left repeat-x;
}

#carousel-wrapper {
	background: url('../../style/images/carousel-bg-modern-green.png') no-repeat top center;
}

.hp-menu li {
	background:	none;
}

.sf-sub-indicator {
	background:		url('../../style/images/arrows-green.png') no-repeat -10px -100px;
}

.thumb {
	background: url('../../style/images/carousel-nav-green.png') no-repeat;
}

a.thumb {
	background: url('../../style/images/carousel-nav-green.png') no-repeat;
}

#intouch {
	background: url('../../style/images/intouch-bg-green.png') bottom right no-repeat;
}

#footer-wrap {
	background: url('../../style/images/modern-green.png') top center no-repeat;
}

#footer h3 {
	border-bottom: 1px solid #89b850;
}

#footer .footer-widget ul li a {
	border-bottom: 1px solid #89b850;
}


#footer .footer-widget ul li a:hover {
	background: #a0d362;
}
