#main .wrap {
	background: url('../images/tile-green.gif');
}
.layout-default #content {
	background: #fff;
	font: 13px/25px "Georgia", "Times New Roman", Times, Serif;
}
#sidebar-primary {
	background: none;
	border-right: 5px solid #899575;
	color: #58683f;
	min-height: 0;
	text-shadow: 0 1px 0 #E7EDDC;
	width: 195px;
}
#sidebar-primary .widget-title {
	margin: 0 0 10px;
}
#sidebar-primary ul {
	list-style: none;
	margin: 0 0 20px 10px;
}

.intro-title {
	color: #444;
	font: 28px/30px "Georgia", "Times New Roman", Times, Serif;
	overflow: hidden;
}
	.intro-title img {
		border: 1px solid #ddd;
		margin-bottom: 0;
		width: 60px;
	}
.intro {
	color: #444;
	font: 16px/28px "Georgia", "Times New Roman", Times, Serif;
	margin-bottom: 50px;
}

.widget-dbc-pages {
	display: none;
}

.hfeed {
	overflow: hidden;
}

.loop-title {
	border-bottom: 1px solid #e2ecd3;
	color: #333;
	font: 36px/46px "Georgia", "Times New Roman", Times, Serif;
	padding-bottom: 20px;
}
.hentry { clear: both; }
.entry-title {
	font: 24px/36px "Georgia", "Times New Roman", Times, Serif;
	margin-left: 31%;
}
	.entry-title a {
		color: #58683f;
	}

.left-col {
	float: left;
	width: 25%;
}
.left-col .byline {
	color: #333;
	font: 18px/25px "Georgia", "Times New Roman", Times, Serif;
	margin: 0 0 5px;
}
.facebook-like {
	margin: 10px 0;
}
.entry-summary {
	float: right;
	width: 69%;
}

a.button {
    background: none repeat scroll 0 0 #E2EAD5;
    background: -moz-linear-gradient(top,white,white 55%,#E2EAD5);
    background: -webkit-gradient(linear,left top,left bottom,from(white),to(#E2EAD5),color-stop(0.55,white));
    border: 1px solid #899575;
    color: #666;
}
a.button:hover {
    background: none repeat scroll 0 0 #C6D1B4;
    background: -moz-linear-gradient(top,#E2EAD5,#E2EAD5 55%,#C6D1B4);
    background: -webkit-gradient(linear,left top,left bottom,from(#E2EAD5),to(#C6D1B4),color-stop(0.55,#E2EAD5));
    border: 1px solid #899575;
    color: #333;
}
