/**
 * Home Stylesheet
 * This is only loaded when using the page-template-home.php page template
 *
 * @since 0.1
 */

.page-template-home #main {
	overflow: visible;
}

.page-template-home #content {
	height: inherit !important;
	padding: 10px 10px 0 0;
}
.page-template-home #main .wrap, .page-template-home #main #content {
	overflow: visible;
}
.page-template-home .fb-like-box, .page-template-home .fb-like-box span, .page-template-home .fb-like-box.fb_iframe_widget span iframe {
	width: 100% !important;
}

.page-template-home .slider img {
	width: 100%;
}
.page-template-home div.orbit-wrapper div.slider-nav {
	display: none;
}
.page-template-home div.orbit-wrapper:hover div.slider-nav {
	display: block;
}
.page-template-home .orbit-slide {
	background: #fff;
}

/**
 * myDBC
 ************************************************/
.page-template-home #mydbc {
	margin: 0 0 15px;
	overflow: hidden;
	text-transform: uppercase;
}
.page-template-home #mydbc .right {
	margin-bottom: 0;
}

.page-template-home #mydbc .big-button {
	background: #e2e9ee;
	border: 5px solid #91a1ad;
	border-radius: 3px;
	color: #6e6e6e;
	display: inline-block;
	font-size: 12px;
	font: 1.2rem/2 Arial, Helvetica, sans-serif;
	margin: 0 2.5% 0 0;
	padding: 1%;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	text-transform: uppercase;
	-moz-border-radius: 3px;
	width: 16%;
}
.page-template-home #mydbc .big-button:hover {
	background: #91a1ad;
	border: 5px solid #e2e9ee;
	color: #fff;
	text-shadow: 1px 1px 1px #6e6e6e;
}
.page-template-home #mydbc .big-button:last-child {
	margin: 0;
}
.page-template-home #mydbc .big-button.green {
	background: #E2E8D7 url('../images/mydbc-icon.png') 90% center no-repeat;
	border: 5px solid #C3CEB1;
	margin: 0;
	width: 30%;
}
.page-template-home #mydbc .big-button.green:hover {
	background: #C3CEB1  url('../images/mydbc-icon.png') 90% center no-repeat;
	border: 5px solid #E2E8D7;
}
.page-template-home .mydbc-life-desc {
	font-size: 12px;
	text-transform: none;
}
.page-template-home #mydbc .league-gothic {
	font: 2.250em/1em "LeagueGothicRegular";
}

/**
 * This Week's Message
 ************************************************/
.page-template-home #latest-message {
	background: #efece7; /* Old browsers */
	background: -moz-linear-gradient(top,  #efece7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efece7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efece7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efece7 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efece7 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #efece7 0%,#ffffff 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#efece7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-left: 1px solid #D7D4CF;
	border-top: 1px solid #D7D4CF;
	margin-bottom: 10px;
	padding: 2%;
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff;
}
.page-template-home .latest-message-left {
	float: left;
	width: 60%;
}
.page-template-home .latest-message-right {
	float: right;
	width: 40%;
}
.page-template-home .latest-message-title {
	color: #998775;
	font: 1.250em/1em "LeagueGothicRegular";
	text-transform: uppercase;
}
.page-template-home .latest-message-message-title ul {
	list-style: none;
	margin: 0;
}
.page-template-home .latest-message-message-title a {
	color: #486374;
	font: bold 0.813em/1.625em Arial, Helvetica, sans-serif;
}
.page-template-home .latest-message-message-date {
	color: #8b807a;
	font: bold 0.688em/1.625em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.page-template-home .latest-message-listen a {
	background: url('../images/sprite.png') -10px -100px no-repeat;
	display: block;
	float: right;
	height: 34px;
	text-indent: -9999px;
	width: 93px;
}
.page-template-home .latest-message-podcast a {
	background: url('../images/sprite.png') -103px -100px no-repeat;
	display: block;
	float: right;
	height: 34px;
	text-indent: -9999px;
	width: 135px;
}

/**
 * Features
 ************************************************/
.page-template-home .feature-dbc-cares {
	display: block;
}

.page-template-home .feature-dbc-cares {
	border-left: 1px solid #D2E1F2;
	border-top: 1px solid #D2E1F2;
	height: 50px;
	margin: 0 0 9px;
	padding: 2%;
	overflow: hidden;
	text-decoration: none !important;
}
.page-template-home .feature-dbc-cares:hover {
	background: #e7edf4; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7edf4 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7edf4), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e7edf4 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e7edf4 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e7edf4 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #e7edf4 0%,#ffffff 100%); /* W3C */
	filter: progid :DXImageTransform.Microsoft.gradient( startColorstr='#e7edf4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.page-template-home .feature-dbc-cares .logo {
	background: url('../images/dbc-cares-logo.png') no-repeat;
	display: block;
	float: left;
	height: 44px;
	margin: 0 20px 0 0;
	text-indent: -9999px;
	width: 85px;
}

.page-template-home .feature-dbc-cares .new {
	color: #000;
	display: block;
	font-size: 10px;
	line-height: 11px;
	letter-spacing: 1px;
	margin: 10px 0 0;
	text-transform: uppercase;
}
.page-template-home .feature-dbc-cares .new span {
	color: red;
}
.page-template-home .feature-dbc-cares .text {
	color: #000;
	display: block;
	font: italic 14px/16px "Georgia", "Times New Roman", Times, Serif;
}

.page-template-home .feature-note img {
	margin-right: 10px;
}

.page-template-home .feature-calendar img {
	margin-right: 10px;
}

.page-template-home .feature {
	color: #000;
	float: left;
	padding: 0 1% 2%;
	text-decoration: none !important;
	width: 32%;
}
.page-template-home .feature:first-child, .feature:nth-child(4n) {
	clear: both;
	padding-left: 0;
}
.page-template-home .feature:nth-child(3n) {
	padding-right: 0;
}
.page-template-home .feature-inner {
	box-shadow: inset 0 0 5px rgba(0,0,0,.35);
	overflow: hidden;
	padding: 5% 6% 0;
}
.page-template-home .feature:hover .feature-inner {
	box-shadow: inset 0 0 5px rgba(0,0,0,.35), 0 0 5px rgba(0,0,0,.25);
}
.page-template-home .feature-inner .widget-title {
	color: #222;
	font: 1em/1em "Georgia", "Times New Roman", Times, Serif;
	margin: 0 0 0.625em;
	text-shadow: 0 1px 0 #fff;
}
.page-template-home .feature-inner p {
	font: italic 0.750em/1.625em "Georgia", "Times New Roman", Times, Serif;
}

.page-template-home #feature-dbccares .feature-inner {
	background: #eee;
	border: 5px solid #eee;
}
.page-template-home #feature-notes .feature-inner {
	background: #d1d9c3;
	border: 5px solid #c3ceb1;
}
.page-template-home #feature-publications .feature-inner {
	background: #eaeaea;
	border: 5px solid #eaeaea;
}
.page-template-home #feature-calendar .feature-inner {
	background: #eef2f4;
	border: 5px solid #e2e9ee;
}

/**
 * Sidebar
 ************************************************/

/* Home Primary widget section */
.page-template-home #sidebar-home {
	color: #605149;
	float: left;
	padding: 10px 10px 0;
	position: relative;
}
.page-template-home #sidebar-home .widget_text {
	margin-bottom: 10px;
}

/* Welcome */
.page-template-home #welcome {
	background: #ece7dc;
	box-shadow: inset 0 0 100px #ece0d9, 0 10px 6px -6px #ccc;
	box-shadow: inset 0 0 100px rgba(148,83,45,.20), 0 10px 6px -6px rgba(0,0,0,.20);
	padding: 2%;
	margin: 0 0 1em;
}
.page-template-home .welcome-inner {
	border: 1px solid #f8f3ec;
	box-shadow: inset 0 0 5px rgba(0,0,0,.35);
	overflow: hidden;
	padding: 5%;
}
.page-template-home #welcome .widget-title {
	font-size: 32px;
	font: 3.2rem/1em "LeagueGothicRegular";
	margin: 0;
	text-align: left;
}
.page-template-home .welcome-visiting-information a {
	background: #C7CAC5;
	background: rgba(31,98,145,.15);
	border: 1px solid #fff;
	border-color: rgba(255,255,255,.55) rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(255,255,255,.55);
	border-radius: 3px;
	box-shadow: inset 0 0 20px rgba(255,255,255,.15);
	color: #486374;
	display: block;
	font-size: 20px;
	font: 2.0rem/1em "LeagueGothicRegular";
	margin: 5px 0 0;
	padding: 3% 2% 2%;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.page-template-home .welcome-visiting-information a:hover {
	box-shadow: inset 0 0 20px rgba(255,255,255,.45);
}
.page-template-home .welcome-visiting-information a:active {
	top: 1px;
}
.page-template-home .welcome-service-times {
	color: #486374;
	font-size: 11px;
	font: 1.1rem/1.625 Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.page-template-home .welcome-service-times-data {
	color: #605149;
	font-size: 18px;
	font-size: 1.8rem;
}
.page-template-home .welcome-directions {
	color: #605149;
	font-size: 11px;
	font: 1.1rem/1.625 Arial, Helvetica, sans-serif;
}
.page-template-home .welcome-directions a {
	color: #94532d;
}
.page-template-home #primary-home .widget-title, .page-template-home h3 {
	color: #94532d;
	text-shadow: 1px 1px 1px #fff;
}

/* IE7 hack. */
*:first-child+ html .msie #mydbc .big-button.green .icon {
	line-height: 20px;
}