/**
 * shopp.css
 * Generic layout & styles for Shopp pages
 *
 * @author Jonathan Davis
 * @package shopp
 **/

/* Generic Shopp Styles */

#shopp .submit { text-align: right; }
#shopp form { text-align: left; }
#shopp form.product ul.options { list-style: none; }
#shopp form ul { line-height: 1; }
#shopp form label { font-size: 14px; font-weight: bold; padding-bottom: 3px; }
#shopp form ul li span label,
#shopp form div label { font-size: 11px; font-weight: normal; padding-bottom: 8px; }

/**
 * Catalog/Category
 **/

.categories ul li a.current { font-weight: bold; }
#shopp .category { position: relative; }
#shopp .views { display: inline; position: absolute; right: 0; top: 0; }
#shopp .views button { border: none; background: none; cursor: pointer; padding: 2px; }
#shopp .views button:hover { background-color: #ebebeb; border: 1px solid #777; }
#shopp .views li { display: inline; }
#shopp .orderby { float: right; }

#shopp .subcategories { padding: 10px 0; margin-bottom: 10px;}

/* Each product in a category has a containing frame */
#shopp ul.products li.product div.frame { padding: 10px; }

#shopp ul.products li .name,
#shopp ul.products li .summary,
#shopp ul.products li .savings,
#shopp ul.products li .price { margin-top: 0; margin-bottom: 0; }
#shopp ul.products li .details { float: none; }

/* Hide the product summary in the grid view */
#shopp ul.products li .summary { display: none; }
#shopp ul.products li .listview { display: none; }

#shopp ul.products img { display: block; }

#shopp .price { font-weight: bold; line-height: 1.5; margin: 0; }
#shopp .original { text-decoration: line-through; }
#shopp .sale { font-size: 150%; }

.filters a.cancel:before { content: "["; }
.filters a.cancel { font-weight: bold; }
.filters a.cancel:after { content: "]"; }
.filters a.cancel:hover { text-decoration: none; }


/* Product List View */
#shopp.list ul.products li { float: none; width: 100%; clear: both; padding-bottom: 10px;}
#shopp.list ul.products li.product {  border-bottom: 1px solid #ddd; }
#shopp.list ul.products li div.frame { width: 100%;  text-align: left; }
#shopp.list ul.products li img { float: left; margin-right: 10px; }
#shopp.list ul.products li .details { float: left; width: 65%;}
#shopp.list ul.products li .listview { display: block; }

#shopp ul.breadcrumb { margin: 10px 0; }
#shopp ul.breadcrumb li { background: none; padding: 0; display: inline; margin-left: 0; text-indent: 0; }

#shopp ul.categories { float: left; margin-right: 20px; }
#shopp #new { float: left; width: 75%; }

/* Category Pagination */
#shopp ul.paging { /* placeholder for your styles - inherited defaults: clear: none; display: inline-block; */ }
#shopp ul.paging li { /* placeholder for your styles - inherited defaults: display: inline-block; margin-left: 5px; */ }
#shopp ul.paging li a { /* page links default styling */ }
#shopp ul.paging li a:hover { /* page links hover styling */ }
#shopp ul.paging li.active { /* currrent page style */ }
#shopp ul.paging li.disabled { /* style for disabled previous/next links */ }
#shopp ul.paging li.previous a,
#shopp ul.paging li.next a { /* previous/next link style */ }


/**
 * Product Pages
 **/
#shopp .column { float: left; }
#shopp .column.first { width: 65%; }
#shopp .column.second { float: right; width: 35%; }

#shopp .original { text-decoration: line-through; }
#shopp form.product ul,
#shopp form.product ul li,
#shopp form.product ul li label { clear: none; }
#shopp ul.variations label { display: block; }
#shopp dl { clear: both; }
#shopp dl dt { font-weight: bold; float: left; margin-right: 10px; clear: left; }
#shopp dl dd { display: block; clear: right; }

#shopp .gallery { margin: 5px 10px 5px 0; }
#shopp .gallery ul.previews li.thumbnails ul { margin: 10px 0 10px 0; }
#shopp .gallery ul.previews li.thumbnails li { margin: 0 5px 0 0; }

/**
 * Shopping Cart 
 **/
#shopp #cart { width: 100%; }
#shopp #cart table { padding: 10px 0; width: 100%; }
#shopp #cart th { text-align: left; font-weight: bold; }
#shopp #cart th, #shopp #cart td { padding: 3px; }
#shopp #cart .item { width: 50%; }
#shopp #cart .money, 
#shopp #cart .totals th,
#shopp #cart .buttons td { text-align: right; white-space: nowrap; }
#shopp #cart .totals.total th,
#shopp #cart .totals.total td { font-size: 130%; }
#shopp #cart .remove { font-size: 9px; }

#shopp #cart address { font-style: normal; }
#shopp #cart big { display: block; margin: 10px 0; }
#shopp #cart big a.right { float: right; }

#shopp .xcheckout { display: block; clear: both; text-align: right; }
#shopp .xcheckout button { border: none; margin: 0; padding: 0; }

#shopp-cart.widget p.status { margin-bottom: 10px; }

/**
 * Checkout 
 **/
#shopp #shipping-methods { padding-left: 30px; }
#shopp #shipping-methods li { margin-top: 5px; }
#shopp #shipping-methods input { margin-left: -16px; }

#shopp #errors { color: #990000; }

/**
 * Order Receipt
 **/
#shopp #receipt { position: relative; margin: 20px 0; }
#shopp #receipt address { font-style: normal; }
#shopp #receipt fieldset { float: left; width: auto; width: 42%; padding: 10px; border: 1px solid #dadada; margin-bottom: 30px; }
#shopp #receipt fieldset.shipping { width: 42%; float: right; }
#shopp #receipt fieldset legend { display: block; }
#shopp #receipt table.transaction { clear: both; width: 100%; margin-bottom: 10px; }
#shopp #receipt table.transaction th { text-align: right; width: 80px; padding-right: 10px;}

#shopp #receipt .order { width: 100%; clear: both; border: none; }
#shopp #receipt td { border: none; }
#shopp #receipt th { font-weight: bold; text-align: left; border: none; }
#shopp #receipt th, 
#shopp #receipt td { padding: 3px 0; }
#shopp #receipt .order .item { width: 50%; }
#shopp #receipt .order .money, 
#shopp #receipt .order .total,
#shopp #receipt .order .buttons td { text-align: right; }
#shopp #receipt .order .totals.total th,
#shopp #receipt .order .totals.total td { font-size: 130%; }


/* Begin Custom Shopp */
input[type="submit"], button[type="submit"] {
	background: url('../images/btn.png') no-repeat;
	border: none;
	color: #897d76;
	cursor: pointer;
	height: 29px;
	width: 115px;
	}
input[type="submit"]:hover, button[type="submit"]:hover  {
	color: #15100E;
	text-decoration: underline;
	}
.input {
	background: url('../images/btn.png') no-repeat;
	border: none;
	color: #897d76;
	cursor: pointer;
	display: block;
	font-size: 85%;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
	width: 115px;
	}
.input:hover {
	color: #15100E;
	text-decoration: underline;
	}

input[type="submit"].addtocart, button[type="submit"].addtocart {
	background: url('../images/btn-add-to-cart.png') no-repeat;
	border: none;
	color: #897d76;
	cursor: pointer;
	display: block;
	height: 33px;
	padding-left: 10px;
	width: 132px;
	}
.cart-nav {
	clear: both;
	margin: 1em 0 0;
	}
#shipping-options p {
	margin: 0;
	}
.cart #shipping-postcode {
	background: #ffffcc;
	font-size: 167%;
	padding: 3px 19px 3px 18px;
	text-align: center;
	}
#promocode {
	font-size: 167%;
	padding: 3px;
	}
.proceed-to-checkout {
	background: url('../images/btn-checkout.gif') no-repeat;
	border: none;
	color: #897d76;
	cursor: pointer;
	display: block;
	font-size: 85%;
	line-height: 33px;
	text-decoration: none;
	text-indent: 45px;
	width: 132px;
	}	

.box-container, .product { line-height: 150%; }

body #bd .paging li { background: #F8F6F3; border: 1px solid #DFD5CE; padding: 3px; }
body #bd .paging li a { display: inline-block; text-decoration: none; }
body #bd .paging li:hover { background: #DFD5CE; }
body #bd .paging .active { background: #DFD5CE; }
body #bd .paging .disabled { background: none; border: none; color: #ccc; }
body #bd .paging .disabled:hover { background: none; }

.secure-images img{ vertical-align: middle; }

.styled-form { clear: both; line-height: 150%; }	
.styled-form label { margin: 0 0 3px; }
.styled-form input[type="text"], 
.styled-form input[type="password"], 
.styled-form textarea, 
.styled-form select,
.styled-form textarea { margin: 0 0 3px; padding: 3px; width: 100%; }
.styled-form hr { background: #ccc; border: 1px solid #ccc; margin-top: 1em; }

.styled-form.left { display: inline; width: 47%; float: left; margin: 0; clear: left; }
.styled-form.right { display: inline; width: 47%; float: right; margin: 0; clear: right; }

.styled-form .inline { display: inline !important; width: auto; clear: none !important; }
.styled-form .inline input { width: auto;  }
.styled-form .inline label { clear: none; display: inline; }
.styled-form span input { margin: 0 0 5px 0; }
.styled-form .left { display: inline; width: 47%; float: left; margin: 0; clear: left; }
.styled-form .right { display: inline; width: 47%; float: right; margin: 0; clear: right; }
.styled-form .half { display: inline; width: 47%; float: left; clear: none; }
.styled-form .half.right { display: inline; float: right; }

#same-shipping { width: 25px; }

.styled-form .billing-cardexpires label, 
.styled-form .billing-cardexpires input { width: 50%; }
.styled-form .billing-cardexpires .one,
.styled-form .billing-cardexpires .two { float: left; width: 10%;  }
.styled-form .billing-cardexpires .three { float: left; width: 30%;  }

.styled-form fieldset {
	border: 0;
	border-top: 1px solid #ccc;
	background-color: #F9F8F7;
	padding: 15px;
	font-family: verdana;
	margin: 1em 0;
}

.styled-form fieldset legend {
	padding: 0 7px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px;
}
/* End Shopping */