a.smallbutton {
	background: url(images/blue/small_button.jpg) repeat-x top;
	height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 12px/27px 'LuxiSansBold', sans-serif;
	color: #ffffff !important;
	padding: 0px 20px;
	display: table;
	margin: 8px 0;
	text-shadow: #303030 0px -1px 2px;
}



a.mediumbutton  {
	background: url(images/blue/medium_button.jpg) repeat-x top;
	height: 31px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 15px/31px 'LuxiSansBold', sans-serif;
	color: #ffffff !important;
	padding: 0px 20px;
	display: table;
	margin: 8px 0;
	text-shadow: #303030 0px -1px 2px;
}

.contentWrap a {
	text-decoration: none;
	color: #79a5ca;	
}

.contentWrap a:hover {
	color:#2f9fd5;
}

.infobox5 {
	width: 100%;
	font: 30px 'SansationBold', sans-serif;
	color: #ffffff;
	background: #2f9fd5;
}


#topbg {
	width:980px;
	height: 75px;
	background: url(images/blue/topbg.png) no-repeat;
	display: block;
}

#rm_button {
	font: 20px 'LuxiSansBold', sans-serif;
	color: #ffffff;
	text-decoration: none;
	padding: 9px 23px 9px;
	background: url(images/blue/big_buttons.jpg) repeat-x top;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display: table;
	float: right;
	text-shadow: #262626 0px -1px 1px;
}

.bigbutton {
	font: 20px 'LuxiSansBold', sans-serif;
	color: #ffffff !important;
	text-decoration: none;
	padding: 9px 23px 9px;
	background: url(images/blue/big_buttons.jpg) repeat-x top;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display: table;
	text-shadow: #262626 0px -1px 1px;	
}

.bigbutton div {
	background: url(images/blue/big_button_arrow.png) no-repeat right top;
	padding: 0px 35px 0px 0;
	height: 27px;
	line-height: 24px;
}


#rm_button div {
	background: url(images/blue/big_button_arrow.png) no-repeat right top;
	padding: 0px 35px 0px 0;
	height: 27px;
	line-height: 24px;
}

#rm_button_hover {
	width: 189px;
	height: 45px;
	position: relative;
	left: 36px;
	top: -45px;
	z-index: 1;
	background: url(images/blue/readmore.png) 189px 0px;	
}


#rm_shadow {
	width: 187px;
	height: 17px;
	background: url(images/blue/r_m_shadow.png) no-repeat top;
	float: right;
}

.RegularS {
	font: 22px 'SansationRegular';
	color: #494949;
}

.postWrap h1.titleCS, .singlePostCS h1.titleCS, .singlePostCS_FW h1.titleCS{
	font: 20px 'SansationBold', Verdana, sans-serif !important;
	color:#2f9fd5 !important;
	margin-bottom: 5px !important;
}

.postWrap h1 a, .singlePostCS h1 a, .singlePostCS_FW h1 a {
	color:#2f9fd5;
	text-decoration: none;
}

.metaBox a {
	text-decoration: none;
	color: #2f9fd5;
	display: inline;
}

.metaBox a:hover {
	text-decoration: underline;
}



.roundbox{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #999999;
	line-height: 27px;
	min-height: 27px;
	padding:0px 10px 0px 32px;
	text-shadow: #ffffff 0px 1px 1px;
	float: left;
	margin: 10px 10px 0 0;
}

.roundbox:hover a {
	color: #ffffff;	
}

.dateMeta {
	background:#f3f3f3 url(images/blue/post-date-a.png) top left no-repeat;
}

.dateMeta:hover {
	background:#2e9dd3 url(images/blue/post-date-b.png) top left no-repeat;
	color: #ffffff;
	text-shadow: none;
}

.authorMeta {
	background:#f3f3f3 url(images/blue/post-author-a.png) top left no-repeat;
}

.authorMeta:hover {
	background:#2e9dd3 url(images/blue/post-author-b.png) top left no-repeat;
	color: #ffffff;
	text-shadow: none;
}


.categoryMeta  {
	background:#f3f3f3 url(images/blue/post-category-a.png) top left no-repeat;
}

.categoryMeta:hover  {
	background:#2e9dd3 url(images/blue/post-category-b.png) top left no-repeat;
	color: #ffffff;
	text-shadow: none;
}

.commentMeta  {
	background:#f3f3f3 url(images/blue/post-comment-a.png) top left no-repeat;
}

.commentMeta:hover  {
	background:#2e9dd3 url(images/blue/post-comment-b.png) top left no-repeat;
	color: #ffffff;
	text-shadow: none;
}

/*Sidebar Widget Styles */

.sidebarRight {
	margin-top: 17px;
	width: 270px;
	float: right;
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #737373;
	font-weight: normal;
}

li.widgetSidebar {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.sidebarRight h2 {
	font: 20px 'SansationBold', Verdana, sans-serif;
	color: #494949;
	margin-bottom: 10px;
}

.sidebarRight a {
	font-size: 13px;
	color: #2f9fd5;
	text-decoration: none;
}

.sidebarRight ul li ul li:hover a {
	color: #ffffff;	
}

.sidebarRight ul li ul li a:hover {
	color: #f1f1f1;	
}

.sidebarRight ul li ul li {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0px 10px 20px;
	background: url(images/blue/li_arrows_hover.png) left no-repeat;
}

.sidebarRight ul li ul li:hover {
	background: #2f9fd5 url(images/blue/li_arrows.png) left no-repeat;
	color: 
}

.CS_searchform {
	width: 228px !important;
	height: 32px !important;
	border: none !important;
	background: url(images/blue/searchformbg.png) no-repeat left !important;
	padding: 0 0 0 10px !important;
	font: 14px/32px Lucida Sans Unicode, Lucida Grande, sans-serif !important;
	color: #b5b5b5 !important;
	float: left !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.CS_searchform_button {
	float: left !important;
	border:none !important;
	background: url(images/blue/search_button.png) no-repeat top !important;
	height: 32px !important;
	width: 32px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* End Sidebar Widget Styles */

/*Pagination Styles */

#paginationCS {
	padding: 20px 0 50px 0px;


}

#paginationCS span, #paginationCS a {
	padding: 12px 15px;
	text-decoration: none;
	font: 15px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #2f9fd5;
	border-left: 1px solid #c6dfea;
	background: url(images/blue/pagination.jpg) top repeat-x;

}

#paginationCS a:hover {
	text-decoration: underline;	
}

#paginationCS .inactiveNext, #paginationCS .inactiveNextone {
	border: none;
}

#paginationCS span{
	border: none;
	background: url(images/blue/paginationactive.jpg) top left no-repeat;
	padding: 12px 21px;
	color: #43545f;

}



#paginationCS .PreviousButton span {
	border: none;
	padding: 6px 7px 7px 18px;
	background: url(images/blue/pagination_prev.png) left top no-repeat;
	color: #ffffff;

}

#paginationCS a.PreviousButton {
	border: none;
	background: url(images/blue/pagination_prev_end.png) right top no-repeat;
	margin-right: 15px;
	padding: 6px 3px 7px 0px;


}


#paginationCS .PreviousButton:hover {
	background-position: right bottom;
}

#paginationCS .PreviousButton span:hover{
	text-decoration: underline;
	background-position: left bottom;
}

#paginationCS .NextButton {
	border: none;
	background: url(images/blue/pagination_next_end.png) right top no-repeat;
	margin-left: 15px;
	padding: 6px 15px 7px 0px;

}


#paginationCS .NextButton span {
	border: none;
	padding: 6px 7px 7px 10px;
	background: url(images/blue/pagination_next.png) left top no-repeat;
	display:inline;
	height: 31px;
	color: #ffffff;
}

#paginationCS .NextButton:hover {
	background-position: right bottom;
}

#paginationCS .NextButton:hover span{
	text-decoration: underline;
	background-position: left bottom;
}

.prevdivpag {
	background: url(images/blue/pagination_bg.jpg) top right no-repeat;
	display: inline;
	height: 31px;
	padding-top:14px;

}

.nextdivpag {
	background: url(images/blue/pagination_bg_next.jpg) top left no-repeat;
	display: inline;
	height: 31px;
	padding-top:14px;
}

/* End Pagination Styles */
#twitter_widget {
	width: 980px;
	margin: 0 auto;
	height: 80px;
	background: #2f9fd5 url(images/blue/twitty.jpg) no-repeat left;
}

#twitter_widget_separator {
	width: 980px;
	margin: 0 auto;
	height: 30px;
	background: url(images/blue/twitter_bg.png) no-repeat;
}


#twitterSets1 {
	position: relative;
	left: 100px;
	top: 20px;
	float: left;
	width: 700px;
	font: 15px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #ffffff;
}

#twitterSets1 a {
	text-decoration: underline;
	color: #ffffff;
}

#twitterSets1 a:hover {
	color: #f1f1f1;
}

#tw_button {
	background: url(images/blue/alltweets.png) top;
	font: 18px 'LuxiSans', sans-serif;
	color: #2f9fd5;
	text-decoration: none;
	padding: 7px 24px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: table;
	float: right;
	position: relative;
	top: 20px;
	text-shadow: #ffffff 0px 1px 1px;
}

#tw_button:hover {
	text-shadow: none;
	color: #ffffff;
}


#tw_shadow {
	position: relative;
	top: 20px;
	float: right;
	width: 130px;
	height: 10px;
	background: url(images/blue/tw_shadow.png) no-repeat top;
}

/*Footer and Footer Widget Styles */

#Footer {
	width: 980px;
	margin: 0 auto;
	background: #313131;
}

#FooterSeparator {
	width: 980px;
	background: url(images/blue/twitterbott.png) no-repeat left top;
	height: 45px;
}

#Footer {
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #626262;
	font-weight: normal;
}

li.widgetFooter {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#Footer h2 {
	font: 16px 'SansationRegular', Verdana, sans-serif;
	color: #ffffff;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#Footer a {
	font-size: 13px;
	color: #878787;
	text-decoration: none;
}

#Footer ul li ul li a:hover  {
	color: #eeeeee;	
}

#Footer ul li ul li {
	border-bottom: 1px dashed #5a5a5a;
	padding: 10px 0px 10px 20px;
	background: url(images/blue/li_arrows.png) left no-repeat;
}

#Footer ul li ul li:hover {
	background: url(images/blue/li_arrows_hover_f.png) left no-repeat;	
}

#footer2 {
	width: 980px;
	height: 94px;
	background: url(images/blue/footer2bg.png) no-repeat;
	margin-bottom: 80px;
}

#footer2wrap {
	width: 900px;
	margin: 0 auto;
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #9c9c9c;
	padding-top: 27px;
}
/* End Footer Widget Styles */

.h2Blue {
	font: 20px/24px 'SansationBold', Verdana, sans-serif !important;
	color: #2e9cd1 !important;
}

.h5regular  { 
	font: 14px/18px Lucida Sans Unicode, Lucida Grande, sans-serif !important;
	color: #737373 !important;
}


/* Begin Page Styles */

#topinfobar {
	width: 899px;
	margin: 0 auto;
	background: url(images/blue/footerbg.jpg) repeat;
	padding: 27px 40px 0px;
}

#topinfobar h2 {
	color: #313131 !important;
	font: 36px 'SansationLight', Verdana, sans-serif !important;
}

#separator22 {
	width: 980px;
	height: 45px;
	margin: 0 auto;
	background: url(images/blue/separator2.png) no-repeat;
}

.breadcrumbs {
	width: 900px;
	margin: 0 auto;
	font: 12px/18px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #a4a4a4
}

.breadcrumbs a {
	color: #2f9fd5;
}

#aboutAuthor h2 {
	color: #313131 !important;
	font: 22px 'SansationRegular', Verdana, sans-serif !important;
}

#aboutAuthor h3 {
	color: #737373 !important;
	font: 16px 'SansationRegular', Verdana, sans-serif !important;
	margin-bottom: 5px;
	text-decoration: underline;
}

#authorBoxx {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1;
	width: 100%;
	margin-top: 20px;
}


/* End Page Styles */


/* Begin Comments Styles */

.comments-title {
	font: 22px 'SansationRegular', Verdana, sans-serif !important;
	color: #313131 !important;
	margin-bottom: 20px;
}

.authorFont {
	font-size: 14px;
}

.authorFont a {
	color: #2f9fd5;
}



.comm_reply .commentWrap {
	width: 80%;
	background: #ffffff;
	border: 1px solid #e8e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	float: right;
}

.comm_reply .com_wrap {
	width: 320px;
	float: left;
	margin: 20px 0px;
}

.comm_reply .commentSeparator {
	width: 80%;
	float: right;
	height: 21px;
	background: url(images/blue/commentseparator2.png) no-repeat left;
	position: relative;
	top: -1px;
	z-index: 100;
	margin-bottom: 15px;
}

.depth-2 .commentWrap {
	width: 90%;
	background: #ffffff;
	border: 1px solid #e8e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	float: right;
}

.depth-2 .com_wrap {
	width: 400px;
	float: left;
	margin: 20px 0px;
}

.depth-2 .commentSeparator {
	width: 90%;
	float: right;
	height: 21px;
	background: url(images/blue/commentseparator2.png) no-repeat left;
	position: relative;
	top: -1px;
	z-index: 100;
	margin-bottom: 15px;
}



.depth-3 .commentWrap {
	width: 80%;
	background: #ffffff;
	border: 1px solid #e8e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
	float: right;
}

.depth-3 .com_wrap {
	width: 320px;
	float: left;
	margin: 20px 0px;
}

.depth-3 .commentSeparator {
	width: 80%;
	float: right;
	height: 21px;
	background: url(images/blue/commentseparator2.png) no-repeat left;
	position: relative;
	top: -1px;
	z-index: 100;
	margin-bottom: 15px;
}

.commentWrap {
	width: 100%;
	background: #f3f3f3;
	border: 1px solid #e8e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.com_author_namer {
	width: 60px;
	float: left;
	margin: 20px;
}

.com_wrap {
	width: 470px;
	float: left;
	margin: 20px 0px;
}

.commentSeparator {
	width: 100%;
	height: 21px;
	background: url(images/blue/commentseparator.png) no-repeat left;
	position: relative;
	top: -1px;
	z-index: 100;
	margin-bottom: 15px;
}

.formfloatl {
	float :left;
	margin-right: 15px;

}
.formfloatr  {
	float: left;
}

.formm input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 184px;
	height: 32px;
	border: 1px solid #e9e6e6;
	background: url(images/blue/form_bg.png) repeat-x;
	font: 16px/32px 'SansationRegular', Verdana, sans-serif !important;
	color: #737373;
	margin-top: 3px;
}

.formm input:focus {
	border: 1px solid #2f9fd5;
}


.comm_reply_box {
	background: url(images/blue/reply.png) left center no-repeat;
	padding-left: 23px;
	margin-top: 6px;
}

.comm_reply_box:hover {
	background: url(images/blue/replyh.png) left center no-repeat;	
}

.comm_reply_box:hover a {
	color:#2f9fd5;	
}

.comm_reply_box a {
	color: #b8b8b8;
}

.comment-form-comment textarea {
	width: 100%;
	background: url(images/blue/form_bg.png) repeat-x top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e9e6e6;
	color: #737373;
	font: 13px/18px Lucida Sans Unicode, Lucida Grande, sans-serif;
	margin-bottom: 10px;
}

.comment-form-comment textarea:focus {
	border: 1px solid #2f9fd5;
}

#submitC {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	background: url(images/blue/mediumbutton.jpg) top repeat-x;
	padding: 0px 25px;
	height: 33px;
	font: 16px/33px Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #ffffff;
	text-shadow: #303030 0px -1px 2px;	
}

#submitC:hover {
	background-position: bottom;
}

/* END Comments Styles */

.portfolioDescription a h1, .portfolio_wrap_small a h1, .portfolio_wrap_small_last a h1   {
	margin-bottom: 10px !important;
	font: 20px 'SansationBold', Verdana, sans-serif !important;
	color:#2f9fd5 !important;
}


/***  CIRCLOSQUERO WORDPRESS SUPERFISH THEME SKIN ***/
#navigation ul, #navigation ul * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#navigation ul {
	line-height:	1.0;
}
#navigation ul ul {
	position:		absolute;
	top:			-999em;
	background: #0c80b7;
	margin-top: 15px;
	min-width: 190px;
}

#navigation ul li ul li {
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	background: #0c80b7;
	border-bottom: 1px dashed #469ec8;
	min-width: 190px;
}
#navigation ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#navigation ul li {
	float:			left;
	position:		relative;	
	
}
#navigation ul li a {
	padding-top: 17px;
	color: #ffffff;
}
#navigation ul a {
	display:		block;
	position:		relative;
}
#navigation ul li:hover ul,
#navigation ul li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
}
#navigation ul li:hover li ul,
#navigation ul li.sfHover li ul {
	top:			-999em;
}
#navigation ul li li:hover ul,
#navigation ul li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
#navigation ul li li:hover li ul,
#navigation ul li li.sfHover li ul {
	top:			-999em;
}
#navigation ul li li li:hover ul,
#navigation ul li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


#navigation ul {
	float:			left;

}
#navigation ul a {
	padding: 		15px 12px;
	text-decoration:none;
}




.navwrap a   { /* visited pseudo selector so IE6 applies text colour*/
}


#navigation ul li li a, #navigation ul li.current-menu-item li a {
	color: #ffffff;
	padding: 7px 30px 7px 15px;
}

#navigation ul li:hover a {
	color: #ffffff;
	display:block;
	border-bottom: 4px solid #313131;
	background: url(images/blue/menuhover.png) no-repeat right;

}

#navigation ul li ul li:hover {
	display:block;
	color: #ffffff;
	border-bottom: 1px dashed #469ec8;

}

#navigation ul li:hover li a{
	color: #000000;
	border-bottom: none;
	background: none;
}

#navigation ul li:hover ul li a{
	color: #ffffff;
}





/* point right for anchors in subs */
#navigation ul ul .sf-sub-indicator { background-position:  -10px 0; }
#navigation ul ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#navigation ul ul a:focus > .sf-sub-indicator,
#navigation ul ul a:hover > .sf-sub-indicator,
#navigation ul ul a:active > .sf-sub-indicator,
#navigation ul ul li:hover > a > .sf-sub-indicator,
#navigation ul ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

.current-menu-item {
	background: url(images/blue/menuhover.png) no-repeat right;
	display:block;	
	border-bottom: 4px solid #313131;
}

#navigation ul li.current-menu-item a {
	color: #ffffff;
}

#navigation ul li.current-menu-item:hover  a {
	border-bottom: none;
}

.nivo-caption {
	position:absolute;
	left:0px;
	bottom:160px;
	background: url("images/blue/blue_bg.png") repeat scroll transparent;
	color:#fff; /* Overridden by captionOpacity setting */
	z-index:89;
}

.slidingContentTitleCSCS {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 37px;
	vertical-align: middle;
	background: url(images/blue/slidingcontentbg.jpg) repeat-x;
	line-height: 37px;
	font: 16px 'SansationRegular', Verdana, sans-serif;
	color: #559bbd;
	text-shadow: #f6fafc 0px 1px 1px;
}

.slidingContentTitleCSCS p {
	position: relative;
	top: 10px;
	left: 13px;
	padding-left: 20px;
	background: url(images/blue/arrow_cs.png) no-repeat 0 6px;
}

.slidingContentContentCSCS {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	display: none;
	padding: 25px;
	background: #e3f0f6 url(images/blue/slidingcontentbg.jpg) repeat-x bottom;
}

.wpcf7-submit  {
	background: url(images/blue/footer_submit.jpg) repeat-x top !important;
}

.CStagcloud a {
	background: url(images/blue/tag_bg.png) left top no-repeat !important;
}

.CStagcloud a:hover {
	color: #ffffff !important;
	background-position: left bottom !important;
	border-right: 2px solid #2f9fd5;
}

ul.CS-lastest-posts li:hover a, ul.most_commented li:hover a {
	color: #67b8df !important;
}

th.special {
	border-top: 25px solid #2d9cd1 !important;
	border-right: 5px solid #2d9cd1 !important;
	border-left: 5px solid #2d9cd1 !important;
	background: #2d9cd1;
}

.priceSpecial {
	border-right: 5px solid #2d9cd1 !important;
	border-left: 5px solid #2d9cd1;
}

.pricingTable tfoot td.footerSpecial {
	border-right: 5px solid #2d9cd1 !important;
	border-left: 5px solid #2d9cd1;
	border-bottom: 5px solid #2d9cd1;	
}

.fleftbutton {
	background: url(images/blue/pfolio.jpg) repeat-x top !important;
}
