/**
* Import pre-made styles from Hybrid
************************************************/
/* Reset */
	html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;background:transparent;border:none;text-decoration:none}b,i,hr,u,center,menu,layer,s,strike,font,xmp{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;font-weight:normal;font-style:normal;background:transparent;border:none;text-decoration:none}font{color:#333}center{text-align:left}

/* Fancybox */
	#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('library/js/fancybox/fancybox.png')}#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none}#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}#fancybox-content{width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0px solid #fff}#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('library/js/fancybox/fancybox.png') -40px 0px;cursor:pointer;z-index:1103;display:none}#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0}#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top}#fancybox-frame{width:100%;height:100%;border:none;display:block}#fancybox-left,#fancybox-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url('library/js/fancybox/blank.gif');z-index:1102;display:none}#fancybox-left{left:0px}#fancybox-right{right:0px}#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}#fancybox-left-ico{background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -30px}#fancybox-right-ico{background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -60px}#fancybox-left:hover,#fancybox-right:hover{visibility:visible;/* IE6 */}#fancybox-left:hover span{left:20px}#fancybox-right:hover span{left:auto;right:20px}.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001}#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('library/js/fancybox/fancybox-x.png')}#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -162px}#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('library/js/fancybox/fancybox-y.png');background-position:-20px 0px}#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -182px}#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('library/js/fancybox/fancybox-x.png');background-position:0px -20px}#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -142px}#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('library/js/fancybox/fancybox-y.png')}#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('library/js/fancybox/fancybox.png');background-position:-40px -122px}#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}.fancybox-title-outside{padding-top:10px;color:#fff}.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}#fancybox-title-over{padding:10px;background-image:url('library/js/fancybox/fancy_title_over.png');display:block}.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto}#fancybox-title-float-wrap td{border:none;white-space:nowrap}#fancybox-title-float-left{padding:0 0 0 15px;background:url('library/js/fancybox/fancybox.png') -40px -90px no-repeat}#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('library/js/fancybox/fancybox-x.png') 0px -40px}#fancybox-title-float-right{padding:0 0 0 15px;background:url('library/js/fancybox/fancybox.png') -55px -90px no-repeat}/* IE6 */.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png',sizingMethod='scale');zoom:1}.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight+"px")}#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression( (-20+(document.documentElement.clientHeight ? document.documentElement.clientHeight/2:document.body.clientHeight/2 )+( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop ))+'px')}#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png',sizingMethod='scale')}.fancybox-ie .fancybox-bg{background:transparent !important}.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_n.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_ne.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_e.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_se.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_s.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_sw.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_w.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='library/js/fancybox/fancy_shadow_nw.png',sizingMethod='scale')}
	
/* Register fonts */
	@font-face {
		font-family: 'CartoGothicStdBook';
		src: url('library/fonts/carto/CartoGothicStd-Book-webfont.eot');
		src: local('☺'), url('library/fonts/carto/CartoGothicStd-Book-webfont.woff') format('woff'), url('library/fonts/carto/CartoGothicStd-Book-webfont.ttf') format('truetype'), url('library/fonts/carto/CartoGothicStd-Book-webfont.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'CartoGothicStdItalic';
		src: url('library/fonts/carto/CartoGothicStd-Italic-webfont.eot');
		src: local('☺'), url('library/fonts/carto/CartoGothicStd-Italic-webfont.woff') format('woff'), url('library/fonts/carto/CartoGothicStd-Italic-webfont.ttf') format('truetype'), url('library/fonts/carto/CartoGothicStd-Italic-webfont.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'CartoGothicStdBold';
		src: url('library/fonts/carto/CartoGothicStd-Bold-webfont.eot');
		src: local('☺'), url('library/fonts/carto/CartoGothicStd-Bold-webfont.woff') format('woff'), url('library/fonts/carto/CartoGothicStd-Bold-webfont.ttf') format('truetype'), url('library/fonts/carto/CartoGothicStd-Bold-webfont.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'CartoGothicStdBoldItalic';
		src: url('library/fonts/carto/CartoGothicStd-BoldItalic-webfont.eot');
		src: local('☺'), url('library/fonts/carto/CartoGothicStd-BoldItalic-webfont.woff') format('woff'), url('library/fonts/carto/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype'), url('library/fonts/carto/CartoGothicStd-BoldItalic-webfont.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;
	}
		
	@font-face {
		font-family: 'LeagueGothicRegular';
		src: url('library/fonts/league-gothic/League_Gothic-webfont.eot');
		src: local('☺'), url('library/fonts/league-gothic/League_Gothic-webfont.woff') format('woff'), url('library/fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'), url('library/fonts/league-gothic/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
		font-weight: normal;
		font-style: normal;
	}

/* Sidebar naviation (quickTree jQuery plugin) */
.tree li{list-style:none;padding-left:21px;}.tree li.root{padding-left:0;}.tree li li{background:url(library/images/quicktree/rootNode.gif) no-repeat 17px center;margin-left:10px;padding-left:31px;}.tree li li.root{padding-left:10px;background:url(library/images/quicktree/justOne.gif) repeat-y 17px 0;}.tree li li.root.last{background:none;}.tree li li.last{background:url(library/images/quicktree/lastRoot.gif) no-repeat 17px 0;}.toggle{background:url(library/images/quicktree/plusMinus.png) no-repeat;cursor:pointer;width:16px;_width:13px;height:16px;display:block;float:left;margin-top:2px;text-indent:-9999px;line-height:0;font-size:0;padding:0 5px 0 0;}.contract{background-position:0 -16px;}.expand:hover{cursor:pointer;}.tree,.root .children{margin:0;}

/**
* Body
************************************************/

/* Contains everything */
body {
	background: #15100e;
	color: #5c5650;
	font: 14px/18px "CartoGothicStdBook", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Tahoma, Arial, Helvetica, sans-serif;
}

	#container {
		background: url('library/images/bg.png') top center no-repeat;
	}

	/* Wrapper for everything inside of the body */	
	.wrap {
		margin: 0 auto;
		overflow: hidden;
		width: 960px;
	}

	/* Ministry Guide */
	#ministry-guide h3 { color: #94532d; }
	#ministry-guide a { color: #c8b7a3; }	
			#ministry-guide .current_page_item a,
			#ministry-guide a:hover { color: #94532D; }		
		#global-wrapper {
			background: #15100e;
			color: #9a8a79;
		}
			#global-bar li a { color: #9a8a79; }	
/**
* Elements
************************************************/
/* Headers */
h1,h2,h3,h4,h5,h6 {
	font-family: "CartoGothicStdBook";
	font-style:normal;
	font-weight:normal;	
	margin:0 0 18px 0
}

/* Hyperlinks */
a {
	color: #916446;
	cursor: pointer;
}
	a:hover { text-decoration: none; }
h1 {
	color: #916446;
	font-size: 24px;
}
	h1 a { color: #916446; }
h2 {
	color: #486374;
	font-size: 18px;
}
	h2 a { color: #486374; }
h3 {
	color: #5c5650;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
}
	h3 a { color: #5c5650; }
h4 {
	font-size: 13px;
	font-weight: bold;
	color: #5c5650;
}
	h4 a { color: #5c5650; }
h5 {
	color: #5c5650;
	font-size: 13px;
}
	h5 a { color: #5c5650; }
h6 {
	color: #847e78;
	font-size: 13px;
}
	h6 a { color: #847e78; }
	
a img { border: none }

	#content a { text-decoration: underline; }
	#content .entry-title a { text-decoration: none; }

/* Text elements */
strong, b { font-weight: bold; }
strong strong { font-weight: normal; }
em, cite { font-style: italic; }
em em, cite cite { font-style: normal; }
abbr { cursor: help; }
acronym {
    text-transform: uppercase;
    border-bottom: 1px dashed #666;
    cursor: help
}
big { font-size: 120%; }
small, sup, sub {; font-size: 80%; }
sup {
    vertical-align: baseline;
    position: relative;
    bottom: 0.3em
}
sub {
    vertical-align: baseline;
    position: relative;
    top: 0.3em
}
address {
    font-style: italic;
    margin: 0 0 18px 0
}
li address, dd address { margin: 0; }
ins, dfn {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid #666
}
del { text-decoration: line-through; }
hr { margin-bottom: 18px; }
iframe { border: 0 solid #fff;; }

/* Paragraphs */
p { margin:0 0 18px 0; }

/* Unordered lists */
ul {
	list-style: none;
	list-style: disc;
    margin: 0 0 18px 2.5em
}
	ul ul, ol ol, ul ol, ol ul { margin-bottom: 0 }
/* Ordered lists */
ol {
	list-style: none;
	list-style-type: decimal;
    margin: 0 0 18px 3em
}
		ol ol { list-style: upper-roman; }		
			ol ol ol { list-style: lower-roman; }			
				ol ol ol ol { list-style: upper-alpha; }			
					ol ol ol ol ol { list-style: lower-alpha; }
/* Defition lists */
dl { margin: 0 0 18px 3px; }
	dl dt {
	    font-weight: bold;
	    margin: 12px 0 0 0
	}
	dl dd { margin: 6px 0 0 1.5em; }

/* Blockquotes */
blockquote {
    margin: 0 2.5em;
    font-style: normal
}
	blockquote em, blockquote cite { font-style: italic; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after {
	    content: '';
	    content: none
	}

/* Object */
object { margin-bottom: 18px; }

/* Code */
pre {
    overflow: auto;
    font: .9em Monaco, monospace, Courier, "Courier New";
    line-height: 18px;
    margin-bottom: 18px;
    padding: 9px
}

code { font: .9em Monaco, monospace, Courier, "Courier New"; }

pre code { font-size: 1em; }

/* Tables */
.entry-content table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 18px;
	width: 100%;
}

	.entry-content tr {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}
	.entry-content th {
		background: #f9f9f9;
	}
	.entry-content th, .entry-content td {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 3px 5px;
	    text-align: left;
	}

/* Forms */

	input, textarea {
	    font-size: 1em;
	    font-family: Georgia, Times, "Times New Roman", serif;
	    padding: 3px;
	}
		input[type="submit"] { width: auto; }
	:focus { outline: none; }
	
	form label { cursor: pointer; }
	
	option { padding: 1px 3px; }

	form.standard-form #basic-details-section,
	form.standard-form #blog-details-section,
	form.standard-form #profile-details-section {
		float:left;
		width:48%;
	}
	form.standard-form #profile-details-section { float:right; }

	a.button {
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #ffffff 0%,#e4e4e4 100%); /* W3C */
		border: 1px solid #bbb;
		color: #666;
		display: inline-block;
		font: bold 12px/25px Arial;
		padding: 0 16px;
		text-decoration: none !important;
		vertical-align: middle;
		-moz-border-radius: 2px;
	}
		a.button:hover {
			background: #e4e4e4; /* Old browsers */
			background: -moz-linear-gradient(top, #e4e4e4 0%, #d4d6d7 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#d4d6d7)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #e4e4e4 0%,#d4d6d7 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #e4e4e4 0%,#d4d6d7 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #e4e4e4 0%,#d4d6d7 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d4d6d7',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #e4e4e4 0%,#d4d6d7 100%); /* W3C */
			border: 1px solid #aaa;
			color: #333;
		}

/* Alignment */
.alignleft, .left {
    float: left;
     margin: 0 18px 18px 0;
}

.alignright, .right {
    float: right;
    margin: 0 0 18px 20px;
}

.aligncenter, .center {
    display: block;
    margin: 0 auto 18px auto
}

.alignnone, .block {
    clear: both;
    margin: 0 0 18px 0
}

.clear { clear: both; }

img.alignleft, img.alignright { display: inline; }

blockquote.alignleft, blockquote .alignright { width: 33%; }

/* Columns */
.columns {
	margin: 0 0 20px;
	overflow: hidden;
}
.column {
	float: left;
	margin: 0 4px 0 0;
}
.columns-2 .column { width: 49%; }
.columns-3 .column { width: 33%; }

.columns-3 .column-last {
	margin: 0;
}

/* Login form */
#loginform {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background: #E6E6E6 url('library/images/tile-grey.gif');
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    display: block;
    margin: 10px 0 0;
    padding: 15px;
    text-shadow: 0 1px 0 #fff;
}
#loginform label {
	display: block;
	font-weight: bold;
	margin: 0 0 5px;
}
#loginform input[type="text"], #loginform input[type="password"] {
    font-family: inherit;
    font-size: 18px;
    letter-spacing: normal;
    outline-style: none;
    padding: 5px;
    width: 97%;
}

/**
* Images
************************************************/

/* WP Smilies */
img.wp-smiley {
    max-height: 12px;
    margin: 0;
    padding: 0;
    border: none
}

/* WP Captions [caption] */
.wp-caption {
	background: #EBE8E2;
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}
	.wp-caption p { margin: 0; }

/* Gallery [gallery] */
.gallery {
    display: block;
    text-align: center;
    margin-bottom: 18px !important
}

/**
* Header
************************************************/

/* Contains entire header */
#header-container {
	clear: both;
	margin-bottom: 15px;
}

	/* Contains site title and tagline */
	#header { overflow: hidden; }

		/* Site title */
		#site-title {
			float: left;
			margin: 0;
		}
			#site-title a {
				background: url('library/images/denton-bible-church.png') no-repeat;
				display: block;
				height: 85px;
				text-indent: -9999px;
				width: 182px;
			}
		
		/* Subsite title */
		#subsite-title {
			float: left;
			font: small-caps bold 36px/85px "CartoGothicStdBold","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma;
			margin-left: 40px;
		}
			#subsite-title a img {
				vertical-align: middle;
			}
		/* Header Sidebar */
		#sidebar-header {
			float: right;
			padding: 30px 0 0;
		}
			#sidebar-header .widget_text {
				background: #0f0b0a;
				border-bottom: 1px solid #444;		
				border-left: 1px solid #000;
				border-right: 1px solid #444;
				border-top: 1px solid #000;
				border-radius: 20px;
				color: #fff;
				float: right;
				margin-right: 30px;
				padding: 7px 15px;
				text-shadow: -1px -1px 1px #000;
				-moz-border-radius: 20px;
			}
				#sidebar-header .widget_text a { color: #fff; }	
				#sidebar-header .widget_text p { margin: 0; }
			#sidebar-header .widget-search {
				float: right;
				width: 206px;
			}
			#search-form, #cse-search-form {
				background: url('library/images/sprite.png') -317px -19px no-repeat;
				height: 34px;
				padding: 0;
				width: 206px;
			}
				#search-text, #cse-search-form input.gsc-input {
					background: none !important;
					border: none;
					color: #999795;
					font: 12px/24px Arial, Helvetica, sans-serif;
					height: 24px;
					margin: 3px 0 0 10px;
					padding: 0;
					width: 145px;
				}
				#search-submit, #cse-search-form .gsc-search-button {
					background: none;
					border: none;
					cursor: pointer;
					font-size: 0;
					float: right;
					height: 20px;
					margin: 5px 10px 0 0;
					padding: 0;
					text-indent: -9999px;
					width: 30px;
				}
				#cse-search-form .gsc-clear-button {
					display: none;
				}
				.gsc-completion-container { cursor: pointer; }
				@-moz-document url-prefix() {
					.gsc-completion-container { cursor: pointer;  top:110px !important; z-index: 99999; }
				}
						
/**
* Page navigation
************************************************/
	
/* Primary Menu */
#menu-primary ul { margin: 0; }
	#menu-primary li {
		float: left;
		list-style: none;
		width: auto;
	}
		#menu-primary li a {
			color: #777069;
			display: block;
			padding: 8px 30px;
			text-decoration: none;
		}
			#menu-primary li.current_page_item a,
			#menu-primary li a:hover {
				background: url('library/images/current_static_page_item.png') center bottom no-repeat;
				color: #fff;
			}

/* Secondary Menu */
.breadcrumbs {
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	text-align: left;
}
	.breadcrumb-title {
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.breadcrumb-item {
		margin: 5px;
		padding: 10px;
		overflow: visible;
		position: relative;
	}
		.breadcrumb-item:hover a {
			color: #763E19;
		}
		.breadcrumbs .breadcrumb-item .arrow {
			margin-left: 3px;
			padding: 0 3px;
		}
			.breadcrumbs .breadcrumb-item:hover .arrow {
				color: #94532D;
				cursor: pointer;
				margin-left: 3px;
				padding: 0 3px;
			}
				.breadcrumbs .breadcrumb-item:hover .arrow:hover {
					background: #555;
					color: #fff;
				}

	.breadcrumbs .children {
		background: #EBE8E2;
		border: 5px solid #15100E;
		border-top: none;
		display: none;
		left: -5px;
		line-height: 26px;
		list-style: none;
		margin: 0;
		padding: 10px 20px;
		position: absolute;
		top: 34px;
		width: 200px;
		z-index: 100;
	}	
		.breadcrumbs .children a {
			color: #333;
		}	
			.breadcrumbs .children a:hover {
				text-decoration: underline;
			}	
	#secondary-menu ul { margin: 0; }
		#secondary-menu li {
			float: left;
			list-style: none;
			width: auto;
		}
			#secondary-menu li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
		#secondary-menu li.current_page_item a {
			font-weight: bold;
		}
		#secondary-menu li.current_page_item a,
		#secondary-menu li a:hover {
			color: #94532D;
		}

	#sidebar-menu {
		font-size: 13px;
		line-height: 21px;
		list-style: none;
		margin: 0 0 40px;
	}
		#sidebar-menu ul ul { margin: 0 0 0 25px; }	
			#sidebar-menu a:hover { text-decoration: underline; }
				#sidebar-menu ul ul a { color: #777069; }
					#sidebar-menu ul ul ul a { color: #916446; }
						#sidebar-menu ul ul ul ul a { color: #777069; }
/**
* Containers below the header and navigation
************************************************/

/* Wrapper for the content and primary/secondary widget sections */
#main {
	clear: both;
	overflow: hidden;
}
	#main .wrap {
		background: #fff;
		border-radius: 3px;
		-moz-border-radius: 3px;
	}

	/**
	* Content
	************************************************/
	/* Contains site's main content */
	#content {
		clear: both;
		overflow: hidden;
		padding: 20px 30px 0;
		position: relative;
	}
	.layout-default #content {
		float: right;
		width: 660px;
	}
	
			/* Page title */
			.page-title a:visited { color: #916446; }	

			/* Author and date byline */
			.byline {
				font: italic 11px/18px Arial, Helvetica, sans-serif;
				color: #808080;
			}
			.byline a {
				color: #808080;
				text-decoration: none !important;
			}
				.byline .byline-prep-author { text-transform: lowercase; }
				.byline .author {
					font-style: normal;
					letter-spacing: 1px;
					text-transform: uppercase;
				}

			/* Full entries */
			.entry-content li { margin-bottom: 10px; }

			/* Post meta data */
			.entry-meta {
				font: italic 11px/18px Arial, Helvetica, sans-serif;
				color: #808080;
			}
				.entry-meta a {
					color: #808080;
					text-decoration: none !important;
				}

		/* Navigation links */
		.navigation-links { overflow: hidden; }
			.navigation-links .previous { float: left; }
			.navigation-links .next { float: right; }

		/* WP PageNavi (plugin) */
		.pagination {
			background: #EFECE7;
			clear: both;
			font-size: 11px;
			margin-bottom: 21px;
			padding: 5px;
			text-align: center;
			}
			.pagination .page-numbers {
				margin-right: 6px;
				padding: 3px 9px 3px 9px;
				border: 1px solid #fff;
				text-decoration: none !important;
				text-shadow: 1px 1px 0 #fff;
			}
			.pagination .current {
				background: #916446;
				color: #fff;
				text-shadow: 1px 1px 0 #000;
			}
	
		/* Archives */
		.archive .hentry,
		.search .hentry {
			border-left: 1px solid #D7D4CF;
			border-top: 1px solid #D7D4CF;
			margin-bottom: 18px;
			overflow: hidden;
			padding: 18px 18px 0;
		}
			.archive .hentry .thumbnail,
			.search .hentry .thumbnail {
				border: 1px solid #D7D4CF;
				float: left;
				margin: 0 18px 18px 0;
			}
			.archive .hentry.odd,
			.search .hentry.odd {
				background: url('library/images/grad-horz-graywhite.gif') repeat-x;
			}
			.archive .hentry .entry-meta,
			.search .hentry .entry-meta {
				margin: 0;
			}
			
		/* Events */
		.category-events #content #tec-content {
			margin: 0;
			padding: 0;
			width: auto;
		}
		#content .upcoming a.tec-button-on, #content .grid a.tec-button-on { background: #94532D; }
		#content .tec-calendar td.tec-present .daynum { background-color:#94532D; }
		#content #tec-content .ical {
			background: none;
			color: #808080;
			float: right;
		}

		.link-out {
			background: #633418;
			border: 1px solid #966F55;
			color: #fff;
			display: inline-block;
			margin:  0 20px 20px;
			padding: 10px 20px;
			text-decoration: none !important;
		}
			.link-out:hover { background: #894D28; }
		body.chrome .link-out { background: -webkit-gradient(linear, left bottom, left top, color-stop(0.42, rgb(99,52,24)), color-stop(0.71, rgb(137,77,40))) }
			body.chrome .link-out:hover { background: -webkit-gradient(linear,left bottom,left top,color-stop(0.42, rgb(137,77,40)),color-stop(0.71, rgb(99,52,24))) }
		body.gecko .link-out { background: -moz-linear-gradient(center bottom , #633418 38%, #894D28 69%) repeat scroll 0 0 transparent; }
			body.gecko .link-out:hover { background: -moz-linear-gradient(center bottom,rgb(137,77,40) 42%,rgb(99,52,24) 71%)	 }
		body.msie .link-out { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#894D28, endColorstr=#633418); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#894D28, endColorstr=#633418)"; }
			body.msie .link-out:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#633418, endColorstr=#894D28); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#633418, endColorstr=#894D28)"; }

#publication-archive .publications {
	clear: both;
	overflow: hidden;
}
	#publication-archive .publications ul {
		list-style: none;
	}
		#publication-archive .publications ul li {
			margin: 0 0 5px;
		}
			
/**
* Featured slider
************************************************/
#media-slider-container {
	background: url('library/images/slider-bg.png') top right no-repeat;
	overflow: hidden;
	height: 387px;
		width: 655px;	
}
#media-slider {
	background: url('library/images/slider-img-bg.png') top right no-repeat;
	height: 358px;
	width: 655px;	
	}
#media-slider .post {
	overflow: hidden;
	width: 635px;
	height: 358px;	
	border: none !important;
	}

#media-slider .post img {
	float: left;
	max-width: 635px;
	width: 635px;
	height: 358px;	
	max-height: 358px;	
	margin: 0 15px 0 0;
	}

/* Slider nav */
#media-slider-nav {
	float: right;
	margin: 15px 40px;
}
	#media-slider-nav a {
		background: url('library/images/slider-nav.png') no-repeat;
		display: block;
		height: 13px;
		float: left;
		margin-right: 5px;
		text-indent: -9999px;
		width: 13px;
	}
		#media-slider-nav a.activeSlide {
			background: url('library/images/slider-nav.png') 0 -13px no-repeat;
		}
/* Slideshows. */
.slideshow {
	width: 655px;
	margin: 0 0 20px;
	font-size: 11px;
	line-height: 18px;
	color: #ccc;
	border-bottom: 3px double #000;
	}
.slideshow-items {
	width: 655px;
	height: 357px;
	}
.slideshow-item {
	overflow: hidden;
	display: none;
	width: 655px;
	height: 358px;
	}
.slideshow .item-1 {
	display: block;
	}
.slideshow .slideshow-item img {
	width: 655px;
	max-width: 655px;
	border: none;
	margin-top: -5px;
	padding: 0;
	}
.slideshow-caption {
	position: absolute;
	top: 326px;
	width: 655px;
	}
.slideshow-caption-control {
	float: right;
	margin-right: 20px;
	padding: 3px 0 0 10px;
	width: 67px;
	height: 24px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	background: url('library/images/caption-control.png') no-repeat 0 0;
	}
.slideshow-caption-text {
	clear: right;
	height: 44px;
	padding: 20px;
	background: #000;
	}
.slideshow-controls {
	height: 55px;
	padding: 0 20px 0 0;
	background: url('library/images/slider-controls.png') repeat-x 0 0;
	}
.slideshow-controls .slideshow-pager {
	overflow: hidden;
	float: left;
	width: 550px;
	padding-top: 6px;
	}
.slideshow-controls .slideshow-pager a {
	float: left;
	padding: 15px 20px 15px 22px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: url('library/images/slider-controls.png') no-repeat right -61px;
	}
.slideshow-controls a.slider-prev {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 16px 10px;
	background: url('library/images/slider-controls.png') no-repeat 0 -126px;
	text-indent: -9999em;
	}
.slideshow-controls a.slider-next {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 16px 0;
	background: url('library/images/slider-controls.png') no-repeat 0 -181px;
	text-indent: -9999em;
	}					
/* Video Slideshows. */
.video-slideshow {
	width: 655px;
	margin: 0 0 20px;
	font-size: 11px;
	line-height: 18px;
	color: #ccc;
	border-bottom: 3px double #000;
	}
.video-slideshow-items {
	width: 655px;
	height: 357px;
	}
.video-slideshow-item {
	overflow: hidden;
	display: none;
	width: 655px;
	height: 358px;
	}
.video-slideshow .video-item-1 {
	display: block;
	}
.video-slideshow .video-slideshow-item img {
	width: 655px;
	max-width: 655px;
	border: none;
	margin-top: -5px;
	padding: 0;
	}
.video-slideshow-caption {
	position: absolute;
	top: 326px;
	width: 655px;
	}
.video-slideshow-caption-control {
	float: right;
	margin-right: 20px;
	padding: 3px 0 0 10px;
	width: 67px;
	height: 24px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	background: url('library/images/caption-control.png') no-repeat 0 0;
	}
.video-slideshow-caption-text {
	clear: right;
	height: 44px;
	padding: 20px;
	background: #000;
	}
.video-slideshow-controls {
	height: 55px;
	padding: 0 20px 0 0;
	background: url('library/images/slider-controls.png') repeat-x 0 0;
	}
.video-slideshow-controls .video-slideshow-pager {
	overflow: hidden;
	float: left;
	width: 550px;
	padding-top: 6px;
	}
.video-slideshow-controls .video-slideshow-pager a {
	float: left;
	padding: 15px 20px 15px 22px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: url('library/images/slider-controls.png') no-repeat right -61px;
	}
.video-slideshow-controls a.video-slider-prev {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 16px 10px;
	background: url('library/images/slider-controls.png') no-repeat 0 -126px;
	text-indent: -9999em;
	}
.video-slideshow-controls a.video-slider-next {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 16px 0;
	background: url('library/images/slider-controls.png') no-repeat 0 -181px;
	text-indent: -9999em;
	}	
	
.entry-content .media-thumbnails img {
	margin: 0 13px 13px 0;
	padding: 0;
}
	/**
	* Comments template
	************************************************/
	ol.comment-list, .comment-list ol {
		list-style: none;
		margin: 0;
	}
	ol.comment-list {
		background: #f9f9f9;
		border: 1px solid #999;
		margin: 0 0 40px;
	}
	.comment-list .depth-1 {
		border-bottom: 1px solid #ccc;
		padding: 20px 20px 0;
	}		
	.comment-list .depth-2,
	.comment-list .depth-3,
	.comment-list .depth-4,
	.comment-list .depth-5 {
		border: 1px solid #ccc;
		padding: 20px 20px 0 20px;
	}			
	ol.comment-list .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 4px;
		background: #fff;
		border: 1px solid #eee;
	}
	
	.comment-meta {
		margin: 0 0 10px 70px;
		overflow: hidden;
		padding: 0 0 10px 0;
		font: normal normal normal 11px/20px Arial, Verdana, sans-serif;
		color: #999;
		border-bottom: 1px dotted #666;
	}
		.comment-meta .permalink { color: #999; }
		
		.comment-author {
			font: normal normal bold 12px/20px Arial, Verdana, sans-serif;
			color: #666;
		}
			.comment-author cite { font-style: normal; }

	.comment-meta .published { text-align: right; }
	.comment-text {
		margin: 0 0 0 70px;
		font-size: 12px;
		line-height: 20px;
	}
	.comment-text p { margin-bottom: 20px; }
	.comment-list .children {
		margin: 0 0 20px;
	}

	#commentform textarea, .contact-form textarea {
		display: block;
		width: 98.5%;
	}
	#commentform input, #commentform textarea {
		border: 1px solid #ccc;
		font: 12px/20px Arial, Helvetica, sans-serif;
		padding: 5px;
	}
	#commentform p.form-author {
		float: left;
		width: 45%;
		margin-right: 9%;
	}
	#commentform p.form-email {
		float: right;
		width: 45%;
		margin-right: 1%;
	}
	#commentform input[type="text"], .contact-form input[type="text"] {
		display: block;
		width: 98%;
	}
	span.required {
		font-size: 16px;
		font-weight: bold;
		color: #FF4B33;
	}
	#comments-notice {
		background: #f9f9f9;
		border: 1px solid #ccc;
		font-size: 12px;
		padding: 20px 20px 0;
	}

	/**
	* Widget sections
	************************************************/

	/* Widgets in general */
	/* .widget { margin-bottom: 20px; } */
		.widget-title {
			color: #94532d;
			font: normal 18px/24px "CartoGothicStdBook";
		}
	.widget-posts .widget-title {
		font: small-caps 16px/25px "CartoGothicStdBook";					
		letter-spacing: 0;
		margin: 0 0 10px;
		text-align: left;
	}
		.widget-posts .thumbnail {
			border: 1px solid #252525;
			float: right;
			height: 35px;
			padding: 1px;
			width: 35px;
		}
		
	.widget-posts .byline { line-height: 11px; }
				
	/* Primary widget section */
	#sidebar-primary {
		background: url('library/images/tile-grey.gif');
		border-right: 5px solid #ccc;
		color: #605149;
		float: left;
		font-size: 13px;
		padding: 20px;
		text-shadow: 0 1px 0 #fff;
		width: 195px;
	}
		#sidebar-menu a { color: #605149; }
			#sidebar-menu .current_page_item a, #sidebar-menu a:hover { color: #94532D; }		
		
/**
* Footer
************************************************/

/* Wrapper for the entire footer */
#footer-container { clear: both; }

	/* Footer section */
	#footer .wrap {
		background: #0f0b0a;
		border-bottom: 1px solid #231b19;		
		border-left: 1px solid #090706;
		border-right: 1px solid #231b19;
		border-top: 1px solid #090706;
		border-radius: 5px;
		color:#777069;
		font-size:11px;
		line-height:1.5em;
		margin:30px auto;		
		position:relative;
		-moz-border-radius: 5px;
	}
		.footer-container {			
			overflow: hidden;
			padding: 20px 30px;			
		}
		.footer-left {
			float: left;
			width: 600px;
		}
		.footer-right {
			float: right;
			width: 235px;
		}
	    #footer a {
	    	color: #777069;
	        text-decoration: none;
	    }
		    #footer a:hover {
		    	color: #745B48;
		        text-decoration: underline;
		    }
        #footer .menu {
            list-style: none;
            margin: 0 0 15px;
			overflow: hidden;
            padding: 0px;
        }
	        #footer .menu li.menu-item {
	        	border-right: 1px solid #1d1916;
	            float: left;
	            margin: 0;
	            padding: 0 1em;
	            width: auto;
	        }
		        #footer .menu li:last-child { border: none; }  	        
			
		#footer h6 { color: #745b48; }
        #footer .highlight { color: #745b48; }
		        #footer .menu li:first-child { padding-left: 0; }  
		        #footer .menu li:last-child { border: none; }  	        
	        #footer .alignright li {
	            float: right;
	            padding: 0 0 0 1em;
	            width: auto;
	        }
			
        #footer p {
            clear: both;
			margin: 0;
        }
		#footer h6 {
			color: #745b48;
			margin: 0;
		}
        #footer .highlight { color: #745b48; }

		/* Footer extra */
		#footer .copyright { font-size: 10px; }
		#footer .credit { font-size: 10px; }    