/* HTML Options */
html {background-color:#f8f8f8;}
body {font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height:19px; color:#888888; background-color:#f8f8f8;}
a { color:#3db7ce; text-decoration:none;}
a:hover { color:#262626; text-decoration:none;}
h1, h2, h3, h4, h5, h6 {font-family: 'AlternateGothic2BTRegular'; font-weight:normal; text-transform:uppercase; color:#262626;}


/* General Theme Style */
#top {position: absolute; background: url(../../image/theme/top-navi.png) repeat-x; width:100%; height:65px; margin-top:0px; left:0; z-index:-1;}
.logo { margin:0px;}
.menu {margin:0px 0px 0px 10px;}
.nav-button { float:right;}
.nav-button a {float:left; padding-left:8px; margin-top:0px;}
.dot { background:url(../../image/theme/dot.png) repeat-x; height:2px; width:100%; float:left; margin:6px 0px 38px 0px;}

/* Home Page */
/* Home Element > Slider Ribbon > Top Messgae > Hot News > Login Button > Signup Button > Go! Area (Mini Advert) > Latest News - Blog - Picture - List > Tab Menu > New Video > Random Poster > New Users and New Comment */

/* Home Page > Slider Ribbon */
#slider-ribbon { position:absolute; background:url(../../image/theme/ribbon.png) no-repeat; width:157px; height:128px; margin:-6px 0px 0px 782px; z-index:10;}

/* Home Page > Top Message */
.top-message { margin:43px 0px 18px -157px;}
.top-message h1 {font-family: 'AvantGardeDemiRegular'; font-size:26px; color:#f8f8f8; line-height:34px; background-color:#202020; padding:4px 10px 6px 10px; min-height:68px;}

.top-message-single {background-color:#202020; padding:4px 10px 6px 6px; height:68px; margin:43px 0px 18px -157px;}
.top-message-single img { float:left; margin:4px 10px 0px 2px; border:1px solid #FFF;}
.top-message-single h1 {font-family: 'AvantGardeDemiRegular'; font-size:26px; color:#f8f8f8; line-height:34px; margin-bottom:0px; margin-top:8px;}
.top-message-single p a { margin-left:2px;}
.top-message-single p a:hover { color:#FFF;}

/* Home Page > Hot News */
#hotnews-style { margin-left:0px;}
.hotnews-homepage { margin:34px auto;}
.hotnews-homepage img { padding:0px 6px 0px 2px}
.hotnews-homepage h1 {font-size:22px;}
.hotnews-homepage ul { list-style:none; margin:-8px 0px 0px 1px;}

/* Home Page > Login and Signup Button */
#login-signup { float:right; margin:30px 16px 0px 0px;}

/* Home Page > Go!Area Mini Advert */
#image-hover, #image-hover-two, #image-hover-three, #image-hover-four { position:absolute; background:url(../../image/theme/spacer.png) no-repeat; width:220px; height:110px; cursor:pointer;}
#image-hover:hover, #image-hover-two:hover, #image-hover-three:hover, #image-hover-four:hover { position:absolute; background:url(../../image/theme/hover-top-image.png) no-repeat; width:220px; height:110px; margin:2px -2px 0px 0px;}
.mini-advert {}
.mini-advert h1 {font-family: 'BouganBlackSSiBold'; font-weight:bold; font-size:21px; margin:16px 0px 14px 0px;}
.mini-advert p{ margin-bottom:10px; text-align:justify;}

/* Home Page > Latest Elements (News, Blog, Picture, List and Tab Menu) */
.latest-elements {}
.latest-elements h1 {font-size:26px; margin-bottom:10px;}
.latest-elements p { font-style:italic; margin-left:2px;}
.tab-menu { list-style:none; float:left;}
.tab-menu li {float:left; border-top:1px solid #ededed; margin-top:0px; padding-top:18px;}
.tab-menu li img {background: url(../../image/theme/tab-image-back.png) no-repeat; padding:9px; margin:0px 14px 0px 0px; float:left;}
.tab-menu p { font-style:normal; padding:10px 0px 0px 10px; text-align:justify;}
.tab-menu-picture-list { list-style:none;}
.tab-menu-picture-list li {float:left; margin-top:0px; padding-top:18px;}
.tab-menu-picture-list img {background: url(../../image/theme/tab-image-back.png) no-repeat; padding:9px; margin:0px 0px 0px 0px; float:left;}
.tab-menu-list { list-style:none; float:left;}
.tab-menu-list li {float:left; min-width:420px; border-top:1px solid #ededed; margin-top:0px; padding-top:8px; margin-bottom:2px;}
.tab-date { background:url(../../image/theme/date-back.png) no-repeat; width:70px; height:18px; font-weight:normal; font-size:9px; display:inline-block;  color:#FFF; padding:1px 2px 0px 1px; text-align:center; font-style:normal;}
.tab-date p { color:#FFF; padding:1px 2px 0px 1px; text-align:center; font-style:normal;}
.tab-menu-link { font-size:14px; padding:0px 0px 0px 10px;}

/* Home Page > New Video */
.new-video { margin:25px 0px 0px 1px;}
.new-video h2 {font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#3db7ce; text-decoration:none; padding:36px 0px 0px 0px; margin:0px 0px 12px -1px;}
.new-video p { font-style:normal; text-align:justify; margin:0px 0px 0px 0px;}

/* Home Page > Random Poster */
#random-poster-back { position: relative; background:url(../../image/theme/random-poster-back.png) repeat-x top left; float:left; height:337px; width:100%; margin:-38px 0px 0px 0px; z-index:-1;}
#random-poster { margin:-300px 0px 0px 1px;}
#random-poster h1 {font-size:26px; margin-bottom:10px;}
#random-poster p { font-style:italic; margin-left:2px;}

/* Home Page > New User */
.new-users { margin:36px 0px 0px 1px;}
.new-users h1 {font-size:26px; margin-bottom:10px;}
.new-users p { font-style:italic; margin-left:2px; margin-bottom:24px;}
.new-users-list { float:left; margin:0px 0px 0px 2px;}
.new-users-list img { margin:0px 16px 14px 0px;}

/* Home Page > New Commets */
.new-comments {margin:36px 0px 0px 19px;}
.new-comments ul { list-style:none; margin:0px -16px 0px 0px;}
.new-comments ul li { margin:0px 18px 12px 4px; border-top:1px solid #f2f2f2; padding:10px 0px 0px 0px; font-size:12px;}
.new-comments h1 {font-size:26px; margin-bottom:10px;}
.new-comments p { font-style:italic; margin-left:2px; margin-bottom:24px;}
.user-mask { position: absolute; display: block; margin:-1px 0px 0px -1px; background:url(../../image/theme/user-mask.png) no-repeat; width:62px; height:63px;}
#user-mask-two { position: absolute; display: block; margin:0px 0px 0px -2px; background:url(../../image/theme/user-mask.png) no-repeat; width:62px; height:63px;}

/* Blog Page */
/* Blog Page Elements > Blog Page General > Sidebar > Post Blog > Post Elements (Mp3, Video, Picture Buttons) > Blog Read (Single) > Page Navi */

/* Blog Page > General */
.blog-page { margin:40px 0px 0px 0px;}
.blog-page h1 {font-size:26px;}
.blog-page h2 {}
.blog-page-space {font-family: Arial, Helvetica, sans-serif; color:#888888; font-size:12px; text-transform:none; font-style:italic; margin:-14px 0px -2px 1px;  border-bottom:1px solid #ededed; padding-bottom:14px;}

/* Blog Page > Sidebar */
.sidebar-normal { width:420px; height:321px; overflow: hidden; color:#fff; }
.sidebar-normal h2 { margin:30px 0px 10px 18px; font-size: 22px;}
.sidebar-normal img { margin:10px 0px 0px 18px;}
.sidebar-normal ul, .sidebar-archives ul, .sidebar-tags ul { margin:14px 0px -10px 18px; padding-top:14px; border-top: 1px solid #e9e9e9; list-style:none; width:92%;}
.sidebar-normal ul li { background:url(../../image/theme/dot-2.png) 0px 0px; height:22px;  padding:2px 0px 14px 26px; margin-left:-2px;}
.sidebar-normal ul li:hover { background:url(../../image/theme/dot-2.png) 0px -37px;}
.sidebar-normal ul li a, .sidebar-archives ul li a, .sidebar-tags ul li a {color:#a0a0a0;}
.sidebar-normal ul li a:hover, .sidebar-archives ul li a:hover, .sidebar-tags ul li a:hover {color:#262626;}
.sidebar-normal label { color:#000; margin-left:18px;}

.sidebar-normal  input[type="text"] { background:url(../../image/theme/form-back.png) repeat-x; height:25px; border:1px solid #fff; color:#fff; font-weight:bold; font-size:10px; padding-left:10px; width:89%; margin:10px 10px 0px 16px;}
.sidebar-normal  input[type="password"] { background:url(../../image/theme/form-back.png) repeat-x; height:25px; border:1px solid #fff; color:#fff; font-weight:bold; font-size:10px; padding-left:10px; width:89%; margin:10px 10px 0px 16px;}
.sidebar-normal  input[type="checkbox"] { margin:20px -10px 0px 18px;}
.sidebar-normal  input[type="text"]:focus {}
.sidebar-normal  textarea { background-color:#262626; height:40px; border:1px solid #fff; color:#fff; font-size:11px; padding-top:10px; padding-left:10px; width:360px; margin:0px 10px 0px 16px;}
.sidebar-normal  textarea:focus {}
.sidebar-normal  input[type="submit"] { margin:20px 0px 0px 16px; height:34px; min-width:80px; font-weight:bold;}
.sidebar-normal  input[type="submit"]:hover {}

.sidebar-categories, .sidebar-archives, .sidebar-tags { margin:10px 0px 0px 0px; padding-bottom:0px;}
.sidebar-categories h1, .sidebar-archives h1, .sidebar-tags h1 {font-size:22px; padding-top:30px;}
.sidebar-categories h2, .sidebar-archives h2, .sidebar-tags h2 {font-family: Arial, Helvetica, sans-serif; color:#888888; font-size:12px; text-transform:none; font-style:italic; margin:-10px 0px 0px 1px;}
.sidebar-categories ul, .sidebar-archives ul, .sidebar-tags ul { margin:14px 0px 0px 0px; padding-top:14px; border-top: 1px solid #e9e9e9; list-style:none; width:274px;}
.sidebar-categories ul li { background:url(../../image/theme/dot-2.png) 0px 0px; height:22px;  padding:2px 0px 14px 26px; margin-left:-2px;}
.sidebar-categories ul li:hover { background:url(../../image/theme/dot-2.png) 0px -37px;}
.sidebar-categories ul li a, .sidebar-archives ul li a, .sidebar-tags ul li a {color:#a0a0a0;}
.sidebar-categories ul li a:hover, .sidebar-archives ul li a:hover, .sidebar-tags ul li a:hover {color:#262626;}
.sidebar-categories ul li ul, .sidebar-archives ul li ul { display:none;}

#calendar_wrap { width:270px; margin-left:2px; margin-bottom:0px;}
#wp-calendar { width:100%;}
#wp-calendar caption {font-family: 'AvantGardeDemiRegular'; font-size:16px; text-transform:uppercase; padding:10px 0px 10px 0px; color:#FFF; margin-bottom:10px; background-color:#1ab1ce;}
#wp-calendar thead {font-family: 'AvantGardeDemiRegular'; font-size:14px; text-transform:uppercase; text-align:center; border:1px solid #e4e4e4;}
#wp-calendar tbody {font-size:12px; text-transform:uppercase; text-align:center; border:1px solid #e4e4e4; background-color:#fcfcfc;}
#wp-calendar tfoot {}

.sidebar { margin:40px 0px 0px 0px; padding-bottom:0px;}
.sidebar h1 { margin-top:40px;font-size:22px; color:#FFF;}
.sidebar h2,{font-family: Arial, Helvetica, sans-serif; color:#fff; font-size:12px; text-transform:none; font-style:italic; margin:-10px 0px 0px 1px;}
.sidebar ul { margin:14px 0px -10px 0px; padding-top:14px; border-top: 1px solid #e9e9e9; list-style:none; width:274px;}
.sidebar ul li { background:url(../../image/theme/dot-4.png) 0px 0px; height:22px;  padding:2px 0px 14px 12px; margin-left:-2px;}
.sidebar ul li:hover { background:url(../../image/theme/dot-4.png) 0px -37px;}
.sidebar ul li a {color:#a0a0a0;}
.sidebar ul li a:hover {color:#262626;}
.sidebar ul li ul { display:none;}

.sidebar-archives ul li { background:url(../../image/theme/dot-3.png) 0px 0px; height:22px;  padding:2px 0px 14px 26px; margin-left:-2px;}
.sidebar-archives ul li:hover { background:url(../../image/theme/dot-3.png) 0px -37px;}
.sidebar-tags a {float:left; background:url(../../image/theme/tag-back.png) repeat-x top right; height:23px; text-align:center; padding:3px 16px 0px 6px; border-left:1px solid #dbdbdb; margin:4px 10px 14px 0px; color:#a0a0a0; font-size: 12px;}

/* Blog Page > Blog Post */
#post-blog-list, #post-blog-list-2, #post-blog-list-3, #post-blog-list-4, #post-blog-list-5, #post-blog-list-6 {width:320px; margin-right:29px;}
.post-blog { margin:30px 0px 0px 1px;}
.post-blog img { background-color:#f3f3f3; padding:10px; border:1px solid #e4e4e4;}
.post-blog h1 { font-size:22px; margin:20px 0px 16px 0px;}
.post-blog h2 { font-family:Arial, Helvetica, sans-serif; font-size:11px; font-style:normal; color:#b0b0b0; border:none; margin:-10px 0px 10px 0px;}
.post-blog p { text-align:justify; padding:0px 20px 0px 1px;}
.post-blog-dot {border-bottom:1px solid #ededed; display:block; margin:76px 0px 0px 0px; width:320px;}

/* Blog Page > Post Elements (Mp3, Video, Picture Ajax Popup Buttons) */
.post-elements { position:absolute; width:320px; margin:138px 0px 0px 0px; z-index:1;}
.post-elements img, #post-elements-two img {border:none; background-color:transparent;}
.post-elements ul { list-style:none; padding-right:24px; float:right;}
.post-elements ul li { float:left; margin:0px -20px 0px 0px;}

#post-elements-two { position:absolute; width:680px; margin:302px 0px 0px 0px; z-index:100;}
#post-elements-two ul { list-style:none; padding-right:24px; float:right;}
#post-elements-two ul li { float:left; margin:0px 0px 0px 0px;}


/* Blog Page > Blog Read (Single Page) */
.alignleft { float:left; margin:16px 20px 12px 1px;}
.alignright { float:right; margin:16px 1px 12px 20px;}
#post-blog-list-read { width:670px;}
.post-blog-read { margin:30px 0px 0px 1px;}
.post-blog-read img { background-color:#f3f3f3; padding:10px; border:1px solid #e4e4e4;}
.post-blog-read p { text-align:justify; padding:10px 0px 10px 0px; margin:0px 0px -6px 0px;}
.post-blog-read h1, .post-blog-read h2, .post-blog-read h3, .post-blog-read h4, .post-blog-read h5, .post-blog-read h6 {font-family: 'AlternateGothic2BTRegular'; font-weight:normal; text-transform:uppercase; font-style:normal; border:0px solid; color:#262626; margin:20px 0px 4px 0px;}
.post-blog-read h1 { font-size:28px;}
.post-blog-read h2 { font-size:26px;}
.post-blog-read h3 { font-size:24px;}
.post-blog-read h4 { font-size:22px; color:#888888;}
.post-blog-read h5 { font-size:20px; color:#888888;}
.post-blog-read h6 { font-size:18px; color:#888888;}
.post-blog-read blockquote {margin:20px 0 14px 1px; border-left:10px solid #262626;}
.post-blog-read blockquote p {padding:14px; font-style:italic; font-size:13px;}
.post-blog-read ul { color:#262626; margin:14px 0px 0px -32px; display:block; list-style:none;}
.post-blog-read ul li { background:url(../../image/theme/document.png) no-repeat left top; padding:0px 0px 6px 20px; }
.post-blog-read ol { color:#262626; margin:14px 0px 0px -32px; display:block; list-style:none;}
.post-blog-read ol li { background:url(../../image/theme/check.png) no-repeat left top; padding:0px 0px 6px 20px; }
.post-blog-read code { background-color:#262626; padding:4px; border-bottom:#fff 1px solid; line-height:24px;}
.post-blog-read h1 a, .post-blog-read h2 a { color:#262626;}
.post {border-bottom:1px dashed #e4e4e4; padding-bottom:22px;}
#nav-above { display:none;}

/* Blog Page > Page Navi */
.page-navi { margin:20px 0px 0px -20px;}
.page, .nextpostslink, .previouspostslink {font-family: 'AgentConDBNormal'; font-weight:normal; font-size:15px; color:#808080;  background: url(../../image/theme/pagenavi.png) right no-repeat; display: inline-block; width:36px; height:32px; text-align:center;}
.current {font-family: 'AgentConDBNormal'; font-weight:normal; font-size:15px; color:#fff;  background: url(../../image/theme/pagenavi2.png) right no-repeat; display: inline-block; width:36px; height:32px; text-align:center;}
.pages { display:none;}
.wp-pagenavi a {text-decoration: none; border: 0px solid #BFBFBF; padding: 13px 0px 0px 22px; margin:2px -10px 0px 0px; text-align:center;}
.wp-pagenavi span { text-decoration: none; border: 0px solid #BFBFBF; padding: 13px 0px 0px 22px; margin:2px -10px 0px -2px;}

.nav-previous, .nav-next { margin:20px 0px 0px -7px;}
.nav-previous a, .nav-next a { background:none; width:100px; font-size:14px; text-transform:uppercase;}

/* Blog Page > Comment */
#blog-comment { margin:40px 0px 0px 0px; border-top:1px solid #ededed; padding-top:20px;}
.user-comments { margin:28px 0px 0px 1px; border-bottom:1px dashed #e4e4e4; padding-bottom:10px;}
.user-comments img { float:left; margin:0px 20px 0px 0px;}
.user-comments h6 { font-style:normal; font-size:16px; margin:0px 0px 0px 0px; padding-top:10px;}
.user-comments p { margin-top:4px; text-align:justify;}
.fn, .fn a { font-style:normal; color:#3db7ce;}
.says {}
.children { background:url(../../image/theme/reply.png) no-repeat left bottom; margin:0px 0px 0px 32px; padding:0px 0px 0px 20px;}
.children .fn, .children .fn a {color:#d74762;}

.popup-comment { background-color:#262626; width:420px; overflow: hidden; color:#fff;}
.popup-comment  input[type="text"] { background:url(../../image/theme/form-back.png) repeat-x; height:25px; border:1px solid #fff; color:#fff; font-weight:bold; font-size:10px; padding-left:10px; width:360px; margin:0px 10px 0px 16px;}
.popup-comment  input[type="text"]:focus {}
.popup-comment  textarea { background-color:#262626; height:40px; border:1px solid #fff; color:#fff; font-size:11px; padding-top:10px; padding-left:10px; width:360px; margin:0px 10px 0px 16px;}
.popup-comment  textarea:focus {}
.popup-comment  input[type="submit"] { margin:-20px 0px 0px 16px; height:34px; min-width:80px; font-weight:bold;}
.popup-comment  input[type="submit"]:hover {}
.popup-comment h3 { color:#FFF; margin:20px 0px 10px 14px;}
.popup-comment label {margin:0px 0px 4px 14px;}
.comment-notes { display:none;}
.form-allowed-tags {margin:0px 28px 24px 16px; line-height:14px; font-size:10px; text-align:justify;}
.logged-in-as {margin:0px 0px 4px 14px;}

/* Services Page */
.services { margin:30px 20px 0px 0px;}
.services img { float:left; margin:0px 20px 0px 0px;}
.services p { margin:0px 0px 0px 0px;}

/* About Page */
.about{ margin:24px 22px -14px 0px; float:right; padding-bottom:16px;}
.about img { float:right; margin:0px 0px 0px 0px;}
.about p { margin:0px 0px -4px 10px; font-size:11px;}

/* Music Playlist */
#listing { margin:0px 0px 0px -10px; width:970px;}
.music-playlist {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 10px 0px 10px; margin:0px 20px 22px 0px; max-height:48px; min-width:198px; float:left;}
.music-playlist-left { margin-right:10px; float:left;}
.music-playlist-right { position: relative; margin:-46px 0px 0px 170px; float:right;}
.music-playlist img {}
.music-playlist h1 { font-size:16px; margin:0px 0px -2px 0px;}

/* Video Playlist */
.video-playlist {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 0px 0px 10px; margin:0px 30px 30px 0px; min-width:198px; float:left;}
.video-playlist-left {}
.video-playlist-right { position: relative; margin:-46px 9px 0px 0px; float:right;}
.video-playlist img {}
.video-playlist h1 { font-size:16px; margin:6px 0px 0px 0px;}

/* Photo Playlist */
.photo-playlist {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 0px 12px 10px; margin:0px 30px 30px 0px; min-width:198px; float:left;}
.photo-playlist-left {}
.photo-playlist-right { position: relative; margin:-22px 9px 0px 0px;}
.photo-playlist img {}
.photo-playlist h1 { font-size:16px; margin:8px 0px 0px 0px;}

/* Portfolio One */
.portfolio-one {margin:0px 30px 30px 0px; float:left; border-bottom:1px dashed #ededed; padding:0px 0px 30px 0px;}
.portfolio-one-left { float:left;}
.portfolio-one-right { position: relative; margin:-22px 9px 0px 0px;}
.portfolio-one img {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 10px 10px 10px; margin:0px 20px 0px 0px;}
.portfolio-one h1 { font-size:21px; margin:10px 0px 10px 0px;}
.portfolio-one p { text-align:justify;}

/* Portfolio Two */
.portfolio-two {margin:0px 30px 30px 0px; float:left; border-bottom:1px dashed #ededed; padding:0px 0px 24px 0px; max-width:455px;}
.portfolio-two-left { float:left;}
.portfolio-two-right { position: relative; margin:-22px 9px 0px 0px;}
.portfolio-two img {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 10px 10px 10px; margin:0px 20px 0px 0px;}
.portfolio-two h1 { font-size:21px; margin:10px 0px 10px 0px;}
.portfolio-two p { text-align:justify;}

/* Portfolio Three */
.portfolio-three {margin:0px 30px 30px 0px; float:left; border-bottom:1px dashed #ededed; padding:0px 0px 24px 0px; max-width:283px;}
.portfolio-three-left {}
.portfolio-three-right { position: relative; margin:-22px 9px 0px 0px;}
.portfolio-three img {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 10px 10px 10px; margin:0px 20px 16px 0px; width:260px;}
.portfolio-three h1 { font-size:21px; margin:10px 0px 10px 0px;}
.portfolio-three p { text-align:justify;}

/* Portfolio Four */
.portfolio-four {margin:0px 30px 30px 0px; float:left; border-bottom:1px dashed #ededed; padding:0px 0px 24px 0px; max-width:212px;}
.portfolio-four-left {}
.portfolio-four-right { position: relative; margin:-22px 9px 0px 0px;}
.portfolio-four img {background-color:#f3f3f3; border:1px solid #e4e4e4; padding:10px 10px 10px 10px; margin:0px 20px 16px 0px; width:190px;}
.portfolio-four h1 { font-size:21px; margin:10px 0px 10px 0px;}
.portfolio-four p { text-align:justify;}


/* Example */
.example h4 { font-size:22px; color:#888888; margin-bottom:14px; margin-top:24px;}
.rightbar { margin:20px 0px 0px 40px;}
.addtoany_share_save_container { float:right; margin:-56px -8px 0px 0px;}
.ratingblock { margin-top:30px; clear:both;}
.columbone { float:left; margin:0px; width:220px; text-align:justify; padding:0px 20px 0px 0px;}
.columbone-last { float:right; margin:0px; width:220px; text-align:justify; padding:0px 0px 0px 0px;}
.columbtwo { float:left; margin:0px; width:300px; text-align:justify; padding:0px 20px 0px 0px;}
.columbtwo-last { float:right; margin:0px; width:300px; text-align:justify; padding:0px 0px 0px 0px;}
.columbthree { float:left; margin:0px; width:460px; text-align:justify; padding:0px 20px 0px 0px;}
.columbthree-last {  float:right; margin:0px; width:460px; text-align:justify; padding:0px 0px 0px 0px;}

.bcolumbone { float:left; margin:10px 0px 14px 0px; width:322px; text-align:justify; padding:0px 20px 0px 0px;}
.bcolumbone-last { float: right; margin:10px 0px 14px 0px; width:322px; text-align:justify; padding:0px 0px 0px 0px;}

/* Filter > Music Playlist, Photo, Video Playlist and Portfolio */
.splitter { margin:20px 0px 0px -54px;}
.splitter ul {margin-right: 0; margin-top: 0;}
.splitter li,.splitter ul,.splitter ul li a  { list-style:none; float:left;}
.splitter ul li {margin-left: 20px;}
.splitter ul li:first-child {margin-left: 0;}
.splitter ul li a {font-family: 'AgentConDBNormal'; font-weight:normal; font-size:15px; color:#808080;  background: url(../../image/theme/middle-button-right.png) right no-repeat; width:100%; height:32px; text-align:center; padding:12px 4px 0px 0px; margin:0px 0px 0px 18px;}
.splitter ul li a:hover {color: #262626;}
.splitter ul li.selected-2 a {color: #262626;}
.splitter ul li .current {width:100%;}

/* Footer Area */
/* Footer Area  Elements > Back (Background Image) > Register (About, Contact menu vs) > Social (Social Buttons) */

/* Footer Area > Background */
#footer-back { position: relative; background: url(../../image/theme/footer-back.png) repeat-x top left; bottom:0; float:left; height:74px; width:100%; margin:30px 0px 0px 0px; z-index:-1;}

/* Footer Area > Register */
#footer-register { font-size:10px; margin:-54px 0px 0px 1px;}
#footer-register ul { list-style:none; float:left; margin:-20px 0px 0px -29px;}
#footer-register ul li {float:left; border-right:1px solid #e5e5e5; padding:0px 10px 0px 0px; margin-right:-20px;}

/* Footer Area > Social Buttons */
#footer-social{ margin:-54px 0px 0px 477px;}
#footer-social ul { list-style:none; float:right;}
#footer-social ul li {float:left; margin-left:10px;}



/* All Button */
.buton-login-mini { background:url(../../image/theme/login-mini.png) no-repeat top; display:block; width:24px; height:24px;}
.buton-login-mini:hover { background:url(../../image/theme/login-mini.png) no-repeat bottom;}
.buton-signup-mini { background:url(../../image/theme/signup-mini.png) no-repeat top; display:block; width:24px; height:24px;}
.buton-signup-mini:hover { background:url(../../image/theme/signup-mini.png) no-repeat bottom;}
.buton-search-mini { background:url(../../image/theme/mini-search.png) no-repeat top; display:block; width:24px; height:24px;}
.buton-search-mini:hover { background:url(../../image/theme/mini-search.png) no-repeat bottom;}
.button-icon { width:43px; height:43px; float:left; margin-top:-10px;}

.green-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:left; background:url(../../image/theme/greenbutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.green-right { background:url(../../image/theme/grenbutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}
.green-button a img { border:0px solid;}

.gold-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:left; background:url(../../image/theme/goldbutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.gold-right { background:url(../../image/theme/goldbutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}

.brown-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:left; background:url(../../image/theme/brownbutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.brown-right { background:url(../../image/theme/brownbutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}

.purple-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:left; background:url(../../image/theme/purplebutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.purple-right { background:url(../../image/theme/purplebutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}

.red-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:right; background:url(../../image/theme/redbutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.red-right { background:url(../../image/theme/redbutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}

.red2-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:16px; color:#f8f8f8; float:left; background:url(../../image/theme/redbutton-right.png) right no-repeat; display: inline-block; min-width:80px; height:43px; text-align:center; padding:20px 12px 0px 0px; margin:0px 0px 0px 18px;}
.red2-right { background:url(../../image/theme/redbutton-left.png) no-repeat left; float:left; width:5px; height:43px; margin:-10px 0px 0px -5px;}

.grey-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:15px; color:#808080;  background: url(../../image/theme/grey-button-right.png) right no-repeat; display: inline-block; min-width:80px; height:44px; text-align:center; padding:26px 12px 0px 0px; margin:0px 0px 0px 18px;}
.grey-right { background: url(../../image/theme/grey-button-left.png) no-repeat left; float:left; width:5px; height:44px; margin:-13px 0px 0px -5px;}

.middle-button{font-family: 'AgentConDBNormal'; font-weight:normal; font-size:15px; color:#808080;  background: url(../../image/theme/middle-button-right.png) right no-repeat; display: inline-block; min-width:40px; height:32px; text-align:center; padding:12px 4px 0px 0px; margin:0px 0px 0px 18px;}
.middle-right { background: url(../../image/theme/midle-button-left.png) no-repeat left; float:left; width:5px; height:32px; margin:-6px 0px 0px -5px;}

.generalbutton { float:left; margin-bottom:-10px;}
.generalbutton .grey-button img { border:0px solid; background-color:transparent; margin:-20px 0px 0px -6px;}
.generalbutton .grey-button { min-width:90px; padding:27px 20px 0px 0px; margin:10px 0px 0px 0px;}
.generalbutton .grey-right { margin:-13px 0px 0px -5px;}

.generalbutton .green-button img, .generalbutton .red2-button img, .generalbutton .brown-button img, .generalbutton .gold-button img, .generalbutton .purple-button img  { border:0px solid; background-color:transparent; margin:-22px 0px 0px -6px;}
.generalbutton .green-button, .generalbutton .red2-button, .generalbutton .brown-button, .generalbutton .gold-button, .generalbutton .purple-button { min-width:90px; padding:22px 20px 0px 0px; margin:10px 0px 0px 0px;}
.generalbutton .green-right, .generalbutton .red2-right, .generalbutton .brown-right, .generalbutton .gold-right, .generalbutton .purple-right  { margin:-11px 0px 0px -5px;}

.m1 a{ background-color:#ededed; color:#262626; -moz-border-radius: 15px; border-radius: 15px; display:block; height:60px; margin:0px 0px 0px 0px}
.m1 a:hover{ background-color:#262626; color:#ededed;}
.m1 img { float:left; border:0px solid; margin:-8px 4px 10px 10px; background-color:transparent;}
.m1 p { margin:0px 0px 0px 0px; padding:20px 0px 0px 0px; font-family: 'AvantGardeDemiRegular'; font-size:21px; text-transform:uppercase;}
