#top {position: absolute; background: url(../../image/theme/top-navi.png) repeat-x; width:100%; height:65px; margin-top:0px; top:0; left:0; z-index:-1;}
#top-back { position: absolute;margin-top:58px; top:0; left:0; z-index:-100; border-bottom:6px solid #ee1f79;}
#top-back-two { position: absolute; top:0; margin-top:58px; left:0; z-index:-100; border-bottom:6px solid #000;}
.top-message { margin:26px 0px 18px 2px;}
.sf-menu { position:absolute; z-index:10000;}
#slides { z-index:-1;}
