.page_head .menu .current-menu-parent {background: #8eccb3;}
a { color: #8eccb3;}
.colored {color: #8eccb3 !important;}
.top_line {background-color: #8eccb3 !important;}
.page_head .menu .current-menu-item {background: #8eccb3 !important ;}
.page_head .menu ul li:hover a { background:#8eccb3 }
.page_head .menu ul li:hover:first-child > a:after { border-bottom-color:#8eccb3 ;}
.page_head .menu ul ul li:hover:first-child > a:after { border-right-color: #8eccb3 ;}
.page_head .menu ul ul a:hover { background:#8eccb3 !important }
.blog_item .view a.info:hover {background-color:#8eccb3;}
.blog_item .view a.link:hover {background-color:#8eccb3;}
.pride_pg .current {background-color: #8eccb3;}
.pride_pg a:hover  {background-color: #8eccb3;}
.blog_sidebar a{ color:#8eccb3;}
.filter_button:hover {background-color:#8eccb3;border-color:#8eccb3 }
.filter_current { background-color:#8eccb3; border-color:#8eccb3;}
.portfolio_item .view a.info:hover {background-color:#8eccb3;}
.portfolio_item .view a.link:hover {background-color:#8eccb3;}
.descr a { color: #8eccb3;}
.portfolio_sidebar a{ color:#8eccb3;}
.blog_item .meta a:hover { color:#8eccb3;}
.blog_post_item_description .meta a:hover { color:#8eccb3;}
.portfolio_post_item_description .meta a:hover { color:#8eccb3;}
.page_sidebar a{ color:#8eccb3;}

.blog_head h3 a:hover {color:#8eccb3;}
.well a { color:#333;}
.well a:hover { color:#8eccb3;}
.twitter-block .well a { color:#fff;}