/*
 * ACT Global Stylesheet
 * Include this in all ACT-branded products
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
 * Fonts
 ****************************************************/
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('fonts/ColabThi-webfont.eot');
    src: url('fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabThi-webfont.woff') format('woff'),
         url('fonts/ColabThi-webfont.ttf') format('truetype'),
         url('fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateRegular';
    src: url('fonts/ColabReg-webfont.eot');
    src: url('fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabReg-webfont.woff') format('woff'),
         url('fonts/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
 * General
 ****************************************************/

body {
    color: #000;
    font: 16px/1.563em "Cambria", "Times New Roman", Times, Serif;
}
a {
    color: #333;
    cursor: pointer
}
a:hover {
    text-decoration: none;
    color: #000;
}
a img {
    border: none
}
/*
 * Headings
 ****************************************************/
h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 25px 0
}
h1 {
    font-family: "ColaborateThinRegular";
    font-size: 3em; /* 48px */
}
h2 {
    font-size: 1.7em
}
h3 {
    font-family: "ColaborateRegular";
    font-size: 1.5em; /* 24px */
}
h4 {
    font-family: "ColaborateThinRegular";
    font-size: 1.4em
}
h5 {
    font-size: 1.25em
}
h6 {
    font-family: "ColaborateThinRegular";
    font-size: 1.1em
}

/*
 * Lists
 ****************************************************/
ol, ul {
    list-style: none
}
ul {
    list-style: square;
    margin: 0 0 25px 2.5em
}
ol {
    list-style-type: decimal;
    margin: 0 0 25px 3em
}
ol ol {
    list-style: upper-roman
}
ol ol ol {
    list-style: lower-roman
}
ol ol ol ol {
    list-style: upper-alpha
}
ol ol ol ol ol {
    list-style: lower-alpha
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0
}
dl {
    margin: 0 0 25px 5px
}
dl dt {
    font-weight: bold;
    margin: 10px 0 0 0
}
dl dd {
    margin: 5px 0 0 1.5em
}
strong {
    font-weight: bold
}
strong strong {
    font-weight: normal
}
em, cite {
    font-style: italic
}
em em, cite cite {
    font-style: normal
}

/*
 * Acronyms & abbreviations
 ****************************************************/
abbr {
    border-bottom: 1px dotted #666;
    cursor: help
}
acronym {
    font-size: .9em;
    text-transform: uppercase;
    color: #555;
    background: #fcfcfc;
    border-bottom: 1px dotted #ddd;
    cursor: help;
}
acronym:hover {
    color: #333;
    background: #f9f9f9;
    border-bottom: 1px dotted #999;
}

/*
 * Miscellaneous
 ****************************************************/
p {
    margin: 0 0 25px 0
}
big {
    font-size: 120%
}
small, sup, sub {
    font-size: 80%
}
sup {
    vertical-align: baseline;
    position: relative;
    bottom: 0.3em
}
sub {
    vertical-align: baseline;
    position: relative;
    top: 0.3em
}
address {
    font-style: italic;
    margin: 0 0 25px 0
}
li address, dd address {
    margin: 0
}
blockquote em, blockquote cite {
    font-style: italic
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}
blockquote, blockquote blockquote blockquote {
    overflow: hidden;
    margin: 0 0 25px 0;
    padding: 25px 25px 0 25px;
    font-size: 15px;
    color: #666;
    background: #f9f9f9;
    border-left: 5px solid #ddd;
}
blockquote blockquote {
    color: #666;
    background: #eee;
    border-left: 5px solid #ccc;
}
pre {
    background: #eee;
    overflow: auto;
    overflow-x: scroll;
    font: .9em Monaco, monospace, Courier, "Courier New";
    line-height: 25px;
    margin: 0 auto 25px;
    padding: 10px;
    max-width: 600px;
    width: 99.2%;
}
code {
    font: .9em Monaco, monospace, Courier, "Courier New";
}
pre code {
    font-size: 1em
}
ins, dfn {
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid #666
}
del, s, strike {
    text-decoration: line-through
}
object {
    margin-bottom: 25px
}
.alignleft, .left {
    float: left;
    margin-right: 20px
}
.alignright, .right {
    float: right;
    margin-left: 20px
}
.aligncenter, .center {
    display: block;
    margin: 0 auto 25px auto
}
.alignnone, .block {
    clear: both;
    margin: 0 0 25px 0
}
.clear {
    clear: both
}
img.alignleft, img.alignright {
    display: inline
}
blockquote.alignleft, blockquote.alignright {
    width: 33%
}

/*
 * Tables
 ****************************************************/
    table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd;  }
    
    table thead, table tfoot { background: #f5f5f5; }
    table thead tr th,
    table tfoot tr th,
    table tbody tr td,
    table tr td,
    table tfoot tr td { font-size: 12px; line-height: 18px; text-align: left; }
    table thead tr th,
    table tfoot tr td { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #222; }
    table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
    table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

    table tbody tr.even,
    table tbody tr.alt { background: #f9f9f9; }
    table tbody tr:nth-child(even) { background: #f9f9f9; }
    table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

/*
 * Alerts
 ****************************************************/
.alert {
    background: #222; 
    display: block; 
    font-size: 18px;
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    text-align: center;
}
a.alert:hover {
    background-color: #111;
    color: #fff;
}
a.alert:active {
    top: 1px;
}
.alert.success { background-color: #56c923; }
    a.alert.success:hover { background-color: #439e1b; }
.alert.warning { background-color: #ffb515; }
    a.alert.warning:hover { background-color: #fc9200; }
.alert.error { background-color: #E33100; }
    a.alert.error:hover { background-color: #872300; }
.alert.note { background-color: #2daebf; }
    a.alert.note:hover { background-color: #007d9a; }

/*
 * Forms
 ****************************************************/
form {
    text-align: left
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    outline-style: none;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 2px 0 2px 0;
    letter-spacing: normal;
    display: block;
    width: 300px;
}
input[type="image"] {
    border: none !important;
    padding: 0 !important;
    width: auto !important
}
textarea {
    outline-style: none;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    letter-spacing: normal;
    padding: 2px 0 2px 0;
    resize: none;
    width: 99.2%;
}
select {
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 3px 0 3px 0;
    letter-spacing: normal
}