/**
 * Home Stylesheet
 * This is only loaded when using the page-template-front-page.php page template
 *
 * @since 0.1
 */

body {
	color: #fff;
}
#main {
	overflow: visible;
}
	#main .wrap {
		background: #000;
		border: 1px solid #333;
	}
	#content {
		float: right;
		padding: 10px 10px 0 0;
		width: 620px;
	}
	#main .wrap, #main #content { overflow: visible; }
	
/**
* Featured slider
************************************************/
#slider-container {
	background: url('../images/slider-bg.png') top right no-repeat;
	overflow: hidden;
	width: 655px;	
}
	#slider-container.widescreen {
		background: url('../images/slider-bg.png') right 172px no-repeat;
		width: 655px;		
	}
#slider {
	height: 188px;
	width: 655px;	
	}
	#slider-container.widescreen #slider {
		height: 361px;
		width: 655px;		
	}
#slider .hentry {
	overflow: hidden;
	width: 635px;
	height: 188px;
	}
	#slider-container.widescreen .feature {
		height: 361px;	
	}
#slider .hentry img {
	border: 1px solid #333;
	float: left;
	max-width: 635px;
	max-height: 187px;
	width: 635px;
	height: 187px;
	margin: 0 15px 0 0;
	}
	#slider-container.widescreen .hentry img {
		height: 361px;	
		max-height: 359px;	
	}
/* Slider nav */
#slider-nav {
	float: right;
	margin: 20px 40px 15px;
}
	#slider-nav a {
		background: url('../images/slider-nav.png') no-repeat;
		display: block;
		height: 13px;
		float: left;
		margin-right: 5px;
		text-indent: -9999px;
		width: 13px;
	}
		#slider-nav a.activeSlide {
			background: url('../images/slider-nav.png') 0 -13px no-repeat;
		}

		
/**
* This Week's Message
************************************************/
#latest-message {
	border-left: 1px solid #D7D4CF;
	border-top: 1px solid #D7D4CF;
	margin-bottom: 15px;
	padding: 10px;	
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff;
}
.gecko #latest-message { background: -moz-linear-gradient(center bottom , rgb(255, 255, 255) 0%, rgb(239, 236, 231) 100%) repeat scroll 0% 0% transparent; }
.chrome #latest-message { background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(239,236,231))) repeat scroll 0% 0% transparent; }
	.latest-message-left {
		float: left;
		width: 60%;
	}
	.latest-message-right {
		float: right;
		width: 40%;
	}
		.latest-message-title {
			font-size: 12px;
			text-transform: uppercase;
		}
		.latest-message-message-title ul {
			list-style: none;
			margin: 0;
		}
			.latest-message-message-title a {
				font-size: 14px;
			}
		.latest-message-message-date {
			font-size: 10px;
			text-transform: uppercase;
		}
		.latest-message-listen a {
			display: block;
			float: right;
			height: 34px;
			text-indent: -9999px;
			width: 93px;
		}
		.latest-message-podcast a {
			display: block;
			float: right;
			height: 34px;
			text-indent: -9999px;
			width: 135px;
		}

/**
* What's Happening
************************************************/
#whats-happening {
	border-left: 1px solid #D7D4CF;
	border-top: 1px solid #D7D4CF;
	padding: 10px;	
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff;
}
.gecko #whats-happening { background: -moz-linear-gradient(center bottom , rgb(255, 255, 255) 0%, rgb(239, 236, 231) 100%) repeat scroll 0% 0% transparent; }
.chrome #whats-happening { background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(239,236,231))) repeat scroll 0% 0% transparent; }
	.hentry.publication {
		float: left;
		margin: 4px;
		width: 32%;
	}
	.hentry.publication .third {
		margin-right: 0;
	}

	/* Home Primary widget section */
	#sidebar-home {
		color: #605149;
		float: left;
		padding: 10px 10px 0;
		position: relative;			
		width: 306px;
	}
		#sidebar-home .widget_text {
			margin-bottom: 10px;
		}
										
	/* Welcome */
	#welcome {
		background: #222;
		border: 1px solid #333;
		height: 203px;
		margin: 0 0 20px -20px;
		width: 326px;
	}
		.welcome-inner {
			padding: 30px 30px 30px 20px;
		}
			#welcome .widget-title {
				text-align: left;
			}
			.welcome-visiting-information a {
				
			}
			.welcome-service-times {
				font: 11px/15px "CartoGothicStdBook";
				text-transform: uppercase;
			}
			.welcome-service-times-data {
				font: 18px/22px "CartoGothicStdBook";
			}
			.welcome-directions {
				font: 11px/20px "CartoGothicStdBook";
			}
			
			
	/**
	* Content
	************************************************/
	#primary-home .widget-title, .home h3 {
		color: #fff;
	}

		.welcome-visiting-information a {
			background: url('../images/sprite.png') -10px -10px no-repeat;
		}
		.welcome-service-times {
			color: #00579B;
		}
		.welcome-service-times-data {
			color: #aaa;
		}
		.welcome-directions {
			color: #aaa;
		}
			.welcome-directions a {
				color: #ddd;
			}	
			


/**
* This Week's Message
************************************************/

.latest-message-title {
	color: #605149;
}
	.latest-message-message-title a {
		color: #486374;
	}
.latest-message-message-date {
	color: #8b807a;
}
.latest-message-listen a {
	background: url('../images/sprite.png') -10px -100px no-repeat;
}
.latest-message-podcast a {
	background: url('../images/sprite.png') -103px -100px no-repeat;
}